In [1]:
def cube(x):
    res = x ** 3
    return res

In [2]:
cube(4)

64

In [2]:
def factorial(x):
    f = 1
    while x>0:
        f = f * x
        x = x- 1
    return f

n = int(input("Enter the n factorial to be computed:"))
print(factorial(n))

Enter the n factorial to be computed:10
3628800

In [5]:
def sum(c):
    x,y = c
    z = x + y
    print("Function",z)

a = int(input("a:"))
b = int(input("b:"))
c = (a,b)
sum(c)
print(c)

a:10
b:5
Function 15
(10, 5)

In [12]:
def sum(t):
    t[0] = t[0] +5
    t[1]  = t[1] -1 
    print(t)
    
t = [5,6]
sum(t)
print(t)

[10, 5]
[10, 5]

In [13]:
def greet():
    print("Welcome to the world of coding")
greet(1)

TypeError: greet() takes 0 positional arguments but 1 was given

In [16]:
def print1(x,y):
    print(x,y)
print1(2,3)

RecursionError: maximum recursion depth exceeded

In [1]:
def snacks("potato chips"): # parameter should be identifiers
    print("yummy!!!")
snacks("kitkat")

SyntaxError: invalid syntax (2114897320.py, line 1)

In [4]:
def snacks(x,y): # parameter should be identifiers
    print("yummy!!!",x, y)
snacks("kitkat")#1 required positional argument

TypeError: snacks() missing 1 required positional argument: 'y'

In [5]:
def snacks(x,y): # parameter should be identifiers
    print("yummy!!!",x, y)
snacks("kitkat","potato chips")#1 required positional argument

yummy!!! kitkat potato chips

In [7]:
def snacks(x): # parameter should be identifiers
    print("yummy!!!",x, y)
snacks("kitkat","potato chips")#TypeError: snacks() takes 1 positional argument but 2 were given

TypeError: snacks() takes 1 positional argument but 2 were given

In [2]:
def biodata(name,age, gender, salary):
    print("Name","Age","Gender",'Salary',sep ='\t')
    print(name,age,gender,salary,sep ='\t')
biodata("Prasadh",17,'M',70000)

Name	Age	Gender	Salary
Prasadh	17	M	70000

In [3]:
def biodata(name,age, gender, salary):
    print("Name","Age","Gender",'Salary',sep ='\t')
    print(name,age,gender,salary,sep ='\t')
biodata("Prasadh",17,'M',70000)
biodata("bavi",16,'F')

Name	Age	Gender	Salary
Prasadh	17	M	70000

TypeError: biodata() missing 1 required positional argument: 'salary'

In [5]:
def biodata(name,age, gender, salary=10000):
    print(name,age,gender,salary,sep ='\t')
print("Name","Age","Gender",'Salary',sep ='\t')
biodata("Prasadh",17,'M',70000)
biodata("bavi",16,'F')

Name	Age	Gender	Salary
Prasadh	17	M	70000
bavi	16	F	10000

In [6]:
def biodata(name,age, gender="M", salary=10000):
    print(name,age,gender,salary,sep ='\t')
print("Name","Age","Gender",'Salary',sep ='\t')
biodata("Prasadh",17,'M',70000)
biodata("bavi",16,'F')
biodata('praveen',17)

Name	Age	Gender	Salary
Prasadh	17	M	70000
bavi	16	F	10000
praveen	17	M	10000

In [7]:
def biodata(name,age=15, gender="M", salary=10000):
    print(name,age,gender,salary,sep ='\t')
print("Name","Age","Gender",'Salary',sep ='\t')
biodata("Prasadh",17,'M',70000)
biodata("bavi",16,'F')
biodata('praveen',17)
biodata('sunil')

Name	Age	Gender	Salary
Prasadh	17	M	70000
bavi	16	F	10000
praveen	17	M	10000
sunil	15	M	10000

In [8]:
def biodata(name='xxx',age=15, gender="M", salary=10000):
    print(name,age,gender,salary,sep ='\t')
print("Name","Age","Gender",'Salary',sep ='\t')
biodata("Prasadh",17,'M',70000)
biodata("bavi",16,'F')
biodata('praveen',17)
biodata('sunil')
biodata()

Name	Age	Gender	Salary
Prasadh	17	M	70000
bavi	16	F	10000
praveen	17	M	10000
sunil	15	M	10000
xxx	15	M	10000

In [9]:
def biodata(name='xxx',age=15, gender="M", salary=10000):
    print(name,age,gender,salary,sep ='\t')
print("Name","Age","Gender",'Salary',sep ='\t')
biodata("Prasadh",17,'M',70000)
biodata("bavi",16,'F')
biodata('praveen',17)
biodata('sunil')
biodata('pradeep',21,'M',100000)

Name	Age	Gender	Salary
Prasadh	17	M	70000
bavi	16	F	10000
praveen	17	M	10000
sunil	15	M	10000
pradeep	21	M	100000

In [10]:
def biodata(name='xxx',age=16, gender="M", salary=10000):
    print(name,age,gender,salary,sep ='\t')
print("Name","Age","Gender",'Salary',sep ='\t')
biodata("Prasadh",17,'M',70000)
biodata("bavi",16,'F')
biodata('praveen',17)
biodata('sunil')
biodata('pradeep',21,'M',100000)

Name	Age	Gender	Salary
Prasadh	17	M	70000
bavi	16	F	10000
praveen	17	M	10000
sunil	16	M	10000
pradeep	21	M	100000

In [11]:
def sum(x,y,z,w):
    print(x+y+z+w)
print(sum(10,20,30,40))

100
None

In [12]:
def sum(x,y,z,w):
    return x+y+z+w
print(sum(10,20,30,40))

100

In [13]:
def sum(x,y,z,w):
    print(x+y+z+w)
    return 
print(sum(10,20,30,40))

100
None

In [14]:
def sum(x =100,y,z= 60,w = 70):
    print(x+y+z+w)
print(sum(10,20,30,40))

SyntaxError: non-default argument follows default argument (1063700498.py, line 1)

In [15]:
def sum(x ,y=100,z= 60,w = 70):
    print(x+y+z+w)
print(sum(10,20,30,40))

100
None

In [16]:
def sum(x ,y=100,z= 60,w = 70):
    print(x+y+z+w)
print(sum(10))

240
None

In [17]:
def sum(x ,y,z= 60,w = 70):
    print(x+y+z+w)
print(sum(10,20))

160
None

In [18]:
def multi(x,y):
    res = x * y
    return res
x = int(input("x:"))
y = int(input("y:"))
r = multi(x,y)
print(r)

x:250
y:10
2500

In [19]:
def multi(x,y):
    res = x * y
    return res
x = int(input("x:"))
y = int(input("y:"))
r = multi(x = 20, y = 30)
print(r)

x:20
y:70
600

In [20]:
def multi(x,y):
    res = x * y
    return res
#x = int(input("x:"))
#y = int(input("y:"))
r = multi(x = 250, y = 10)
print(r)

2500

In [21]:
def sub(x,y):
    res = x - y
    return res
#x = int(input("x:"))
#y = int(input("y:"))
r = sub(y = 250, x = 10)
print(r)

-240

In [22]:
def sub(x,y,z ):
    res = x +y -z
    return res

print(sub(20,30,40))

10

In [24]:
def sub(x,y=50,z=50):
    res = x +y -z
    return res

print(sub(20,30,40))

10

In [37]:
def sub(x,y=50,z=50):
    """
    function to to check keyword arg
    """
    res = x +y -z
    return res

print(sub(50,z = 100, y = 70))
print(sub.__doc__)
print(sub.__name__)

20

    function to to check keyword arg

sub

In [27]:
def sub(x,y=50,z=50):
    res = x +y -z
    return res

print(sub(z = 100, y = 70))

TypeError: sub() missing 1 required positional argument: 'x'

In [28]:
def sub(x,y=50,z=50):
    res = x +y -z
    return res

print(sub(z = 100, 70,y = 70))

SyntaxError: positional argument follows keyword argument (1037130188.py, line 5)

In [29]:
def sub(x,y,z):
    res = x +y -z
    return res

print(sub(a = 10,b = 50,c = 10))

TypeError: sub() got an unexpected keyword argument 'a'

In [32]:
l = [1,2,3,4,0,'']
print(all(l))

False

In [35]:
from math import *
print(sqrt(8))

2.8284271247461903

In [38]:
def add(a,b): c= a+b return c
print(add(3,4))

SyntaxError: invalid syntax (2609162736.py, line 1)

In [39]:
def add(a,b): c= a+b ;return c
print(add(3,4))

7

In [40]:
def you():
    pass
print(you())

None

In [41]:
def me():
    return
print(me())

None

In [5]:
def si(p,n,r):
    s = p*n*r/100
    return s+p
p = int(input("P:"))
n = int(input("N:"))
r = int(input("R:"))
result = si(p,n,r)
print(result)

P:3550
N:2
R:4
3834.0

In [2]:
def si(p,n,r):
    s = p*n*r/100
    return p, r,s
p = int(input("P:"))
n = int(input("N:"))
r = int(input("R:"))
result = si(p,n,r)
print(result)

P:100
N:2
R:3
(100, 3, 6.0)

In [4]:
def si(p,n,r):
    s = p*n*r/100
    return s ,p+s
p = int(input("P:"))
n = int(input("N:"))
r = int(input("R:"))
si,total = si(p,n,r)
print("SI AMOUNT:",si)
print("Final Amount:",total)

P:1000
N:4
R:6
SI AMOUNT: 240.0
Final Amount: 1240.0

In [ ]:
def displaya():
    """
    local and global program
    """
    c = 30
    print(" local A:",a)
    def displayb():
        print("local A:",a)
        print("local B:",b)
        print("local C:",c)
    displayb()
a = 10
b = 100
print(__name__,__doc__)
print("Global:",a,b)
print("C:",c)
displaya()

In [1]:
#global
def display(name):
    print(name)
    
display('xxx')

xxx

In [3]:
#global
def display(name
           ):
    print(name)
n = input("Enter :")   
display(n )

Enter :bavi
bavi

In [9]:
#global
def display():
    global name
    name = name + "pooja"
    print(name)

name =input("Enter the name:")
display()
print(name)

Enter the name:taru
tarupooja
tarupooja

In [12]:
#global
def display():
    
    name1 = name + "pooja"
    print(name1)

name =input("Enter the name:")
display()
print(name)

Enter the name:taru
tarupooja
taru

In [13]:
#global
def display():
    
    name = name + "pooja"
    print(name)

name =input("Enter the name:")
display()
print(name)

Enter the name:taru

UnboundLocalError: cannot access local variable 'name' where it is not associated with a value

In [14]:
#global
def display():
    global name
    name = name + "pooja"
    print(name)

name =input("Enter the name:")
display()
print(name)

Enter the name:taru
tarupooja
tarupooja