In [18]:
d = {}
print(d,len(d),type(d))

{} 0 <class 'dict'>

In [19]:
dd = dict()
print(dd, len(dd), type(dd))

{} 0 <class 'dict'>

In [20]:
ddd = dict(zip((1,2,3,4,5),('a','e','i','o','u')))

In [21]:
print(ddd)

{1: 'a', 2: 'e', 3: 'i', 4: 'o', 5: 'u'}

In [22]:
print(list(zip((1,2),(3,4))))

[(1, 3), (2, 4)]

In [23]:
dddd = dict(([2,3],[3,4]))
print(dddd)

{2: 3, 3: 4}

In [24]:
dddd = dict(([2,3,5],[3,4]))
print(dddd)

ValueError: dictionary update sequence element #0 has length 3; 2 is required

In [25]:
student = dict(name = "sumi",mark = 500, grade = 'o+')

In [26]:
print(student)

{'name': 'sumi', 'mark': 500, 'grade': 'o+'}

In [27]:
print(student['mark'
             ])

500

In [28]:


l = []
l[0] = 6
print(l)

IndexError: list assignment index out of range

In [29]:
print(student)

{'name': 'sumi', 'mark': 500, 'grade': 'o+'}

In [30]:
student['rollno'] = 1

In [31]:
print(student)

{'name': 'sumi', 'mark': 500, 'grade': 'o+', 'rollno': 1}

In [32]:
print(student['name'])

sumi

In [33]:
employee = {'Empno':101,'Name' : 'suseel','salary': 35000,'Name' :'sushma'}
print(employee)

{'Empno': 101, 'Name': 'sushma', 'salary': 35000}

In [34]:
s = {}
s['name'] = 'emi'
print(s)

{'name': 'emi'}

In [35]:
s = {}
s[[1,2]] = ('adhi','arjun')
print(s)

TypeError: unhashable type: 'list'

In [36]:
s = {}
s[(1,2)] = ('adhi','arjun')
print(s)

{(1, 2): ('adhi', 'arjun')}

In [37]:

s[(2,1)] = ('ajay','akash')
print(s)

{(1, 2): ('adhi', 'arjun'), (2, 1): ('ajay', 'akash')}

In [38]:

s[1] = ('an',)
print(s)

{(1, 2): ('adhi', 'arjun'), (2, 1): ('ajay', 'akash'), 1: ('an',)}

In [39]:
s[{'a','b'}] = 'alpha'

TypeError: unhashable type: 'set'

In [40]:
s[['a','b'] ]= 'alpha'

TypeError: unhashable type: 'list'

In [41]:
s[{'a':1,'b':6}] = 'alpha'

TypeError: unhashable type: 'dict'

In [42]:
s[4+5j] = 'im complex'
print(s)

{(1, 2): ('adhi', 'arjun'), (2, 1): ('ajay', 'akash'), 1: ('an',), (4+5j): 'im complex'}

In [43]:
s[(2,3)] = [100,200]
print(s)

{(1, 2): ('adhi', 'arjun'), (2, 1): ('ajay', 'akash'), 1: ('an',), (4+5j): 'im complex', (2, 3): [100, 200]}

In [44]:
s[(2,3,[1,2])] = [100,200]
print(s)

TypeError: unhashable type: 'list'

In [45]:
ss = {2,3,[6,7]}
print(ss)

TypeError: unhashable type: 'list'

In [46]:
print(s)

{(1, 2): ('adhi', 'arjun'), (2, 1): ('ajay', 'akash'), 1: ('an',), (4+5j): 'im complex', (2, 3): [100, 200]}

In [47]:
print(len(s))

5

In [48]:
print(s.keys())

dict_keys([(1, 2), (2, 1), 1, (4+5j), (2, 3)])

In [49]:
print(type(s.keys()))

<class 'dict_keys'>

In [50]:
print(s.values())

dict_values([('adhi', 'arjun'), ('ajay', 'akash'), ('an',), 'im complex', [100, 200]])

In [51]:
print(type(s.values()))

<class 'dict_values'>

In [52]:
print(s.items())

dict_items([((1, 2), ('adhi', 'arjun')), ((2, 1), ('ajay', 'akash')), (1, ('an',)), ((4+5j), 'im complex'), ((2, 3), [100, 200])])

In [53]:
 print(s)

{(1, 2): ('adhi', 'arjun'), (2, 1): ('ajay', 'akash'), 1: ('an',), (4+5j): 'im complex', (2, 3): [100, 200]}

In [54]:
print(s.get((2,3)))

[100, 200]

In [55]:
print(s[(2,3)])

[100, 200]

In [56]:
print(s.get((1,2,3)))

None

In [57]:
print(s[(1,2,3)])

KeyError: (1, 2, 3)

In [58]:
print(s.get((1,2,3),"sorry"))

sorry

In [59]:
print(s.get((2,3),"sorry"))

[100, 200]

In [60]:
print(employee)

{'Empno': 101, 'Name': 'sushma', 'salary': 35000}

In [61]:
dept = dept.fromkeys([1,2,3],['cs','bio','mat'])

NameError: name 'dept' is not defined

In [62]:
dept = {}
dept = dept.fromkeys([1,2,3],['cs','bio','mat'])

In [63]:
print(dept)

{1: ['cs', 'bio', 'mat'], 2: ['cs', 'bio', 'mat'], 3: ['cs', 'bio', 'mat']}

In [64]:
print(employee)

{'Empno': 101, 'Name': 'sushma', 'salary': 35000}

In [65]:
emp  ={103:'ramki',102:"varun",107:"aarzoo kurana",104:'Sudhir shivam'}

In [66]:
print(sorted(emp))

[102, 103, 104, 107]

In [67]:
print(min(emp))

102

In [68]:
print(max(emp))

107

In [69]:
print(sum(emp))

416

In [70]:
max_mark = max(emp)

In [71]:
print(emp[max_mark])

aarzoo kurana

In [72]:
print(emp[0])

KeyError: 0

In [73]:
print(emp)

{103: 'ramki', 102: 'varun', 107: 'aarzoo kurana', 104: 'Sudhir shivam'}

In [80]:
print(emp.pop(102,"Sorry"))
print(emp)

varun
{103: 'ramki', 107: 'aarzoo kurana', 104: 'Sudhir shivam'}

In [81]:
print(emp.popitem())

(104, 'Sudhir shivam')

In [82]:
print(emp)

{103: 'ramki', 107: 'aarzoo kurana'}

In [83]:
emp.clear()

In [84]:
print(emp)

{}

In [85]:
emp  ={103:'ramki',102:"varun",107:"aarzoo kurana",104:'Sudhir shivam'}

In [86]:
del emp[103]

In [87]:
print(emp)

{102: 'varun', 107: 'aarzoo kurana', 104: 'Sudhir shivam'}

In [88]:
del emp

In [89]:
print(emp)

NameError: name 'emp' is not defined

In [1]:
m = {
    "January": 31,
    "February": 28,
    "March": 31,
    "April": 30,
    "May": 31,
    "June": 30,
    "July": 31,
    "August": 31,
    "September": 30,
    "October": 31,
    "November": 30,
    "December": 31
}
y = m.items()
print(y)

dict_items([('January', 31), ('February', 28), ('March', 31), ('April', 30), ('May', 31), ('June', 30), ('July', 31), ('August', 31), ('September', 30), ('October', 31), ('November', 30), ('December', 31)])

In [2]:
print(sorted(y))

[('April', 30), ('August', 31), ('December', 31), ('February', 28), ('January', 31), ('July', 31), ('June', 30), ('March', 31), ('May', 31), ('November', 30), ('October', 31), ('September', 30)]

In [3]:
k = sorted(m .keys())
print(k)

['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']

In [4]:
v = sorted(m.values())
print(v)

[28, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31]

In [7]:
new = []
for i in v:
    for j in y:
        if i in j:
            if j not in new:
                new.append(j)
print(new)

[('February', 28), ('April', 30), ('June', 30), ('September', 30), ('November', 30), ('April', 30), ('June', 30), ('September', 30), ('November', 30), ('April', 30), ('June', 30), ('September', 30), ('November', 30), ('April', 30), ('June', 30), ('September', 30), ('November', 30), ('January', 31), ('March', 31), ('May', 31), ('July', 31), ('August', 31), ('October', 31), ('December', 31), ('January', 31), ('March', 31), ('May', 31), ('July', 31), ('August', 31), ('October', 31), ('December', 31), ('January', 31), ('March', 31), ('May', 31), ('July', 31), ('August', 31), ('October', 31), ('December', 31), ('January', 31), ('March', 31), ('May', 31), ('July', 31), ('August', 31), ('October', 31), ('December', 31), ('January', 31), ('March', 31), ('May', 31), ('July', 31), ('August', 31), ('October', 31), ('December', 31), ('January', 31), ('March', 31), ('May', 31), ('July', 31), ('August', 31), ('October', 31), ('December', 31), ('January', 31), ('March', 31), ('May', 31), ('July', 31), ('August', 31), ('October', 31), ('December', 31)]

In [9]:
tt = {'A':[5,6],'B':[5,5],'C':[0,10],'D':[1,9]}
w = 0
t = 0
for i in tt:
    w = tt[i][0]
    t = sum(tt[i])
    s = (w /t)* 100
    print(i,s)

A 45.45454545454545
B 50.0
C 0.0
D 10.0