In [1]:
X = (3.3, 3.3,4.1,4.1,2.2,2.2)
print (X[0::2] ==X[1::2])

True

In [3]:
print ('xyyzxyzxyzxzxyy'.count('yy', 1))

2

In [8]:
arr=[[1,2,3,4], [4,5,6,7], [8,9,10,11], [12,13,14,15]]
for i in range (0, 4):
    print (arr[i].pop())

4
7
11
15

In [7]:
print (round (1234.56, -1))
print (round (12.534,0))

1230.0
13.0

In [9]:
print (1 and 4 +2**5//10+5 or 2)
print( (2**2) **3)

12
64

In [10]:
s = 'hello Man 1'
dsum = 0
for a in s:
    if a.isdigit():
        dsum += int(a)
print("Sum of String is:",dsum)

Sum of String is: 1

In [11]:
Future = "Machine and Data"
if Future.istitle() == True:
    print("Hey...I'm Correct")
else:
    print("Oops I have to be Capitalized")
    print(Future.capitalize())

Oops I have to be Capitalized
Machine and data

In [12]:
Data_Processing = "Panda Numpy SciPy Sci-Kit Learn  PyCaret Tensorflow OpenCv"
print(Data_Processing.find('Learn'))
print(Data_Processing.find('PyCaret',26,32))

26
-1

In [19]:
game = 'Pygame Pygame Zero Arcade adventurelib Ren\'Py ursina'
print(game.replace('Pygame',''))

  Zero Arcade adventurelib Ren'Py ursina

In [20]:
def user_Interactive(GUI_1, n):
        x = GUI_1.pop(n)
        GUI_1.insert(n,x)
        GUI_1.extend(['turtle',{1:'python',2:'R'}])
        return x
GUI = ['PyQT5','Tkinter','PySide2','Kivy','wxPython']
x = user_Interactive(GUI,2)
print(x,GUI)

PySide2 ['PyQT5', 'Tkinter', 'PySide2', 'Kivy', 'wxPython', 'turtle', {1: 'python', 2: 'R'}]

In [21]:
Data_Mining_Data_Scraping ="SQLAlchemy Scrapy BeautifulSoup"
print(Data_Mining_Data_Scraping.join(('1. ','2. ','3. ')))
data = Data_Mining_Data_Scraping.partition('scrapy')
print(data)
for i in data :
    if type(i) == str:
        print(i.split())
print(data)

1. SQLAlchemy Scrapy BeautifulSoup2. SQLAlchemy Scrapy BeautifulSoup3.
('SQLAlchemy Scrapy BeautifulSoup', '', '')
['SQLAlchemy', 'Scrapy', 'BeautifulSoup']
[]
[]
('SQLAlchemy Scrapy BeautifulSoup', '', '')

In [22]:
def interest (prnc, time=2, rate=0.10): 
       return (prnc*time*rate)
print(interest (6100,1))
print (interest (5000, rate= 0.05))
print (interest (5000, 3, 0.12))
print(interest (time=4, prnc=5000))

610.0
500.0
1800.0
2000.0

In [24]:
V=[[4,5,67], [44, 7,2,3]] 
for row in V:
      row. sort ()
      for element in row:
          print(element, end='')
      print ( )

4567
23744

In [25]:
X=[2, 3,4,5]
Y= [sum(X[0:a+1]) for a in range (0, len(X))]
print (Y)

[2, 5, 9, 14]

In [27]:
a={1: 'A', 2: 'B', 3:'C'} 
for i, j in a.items ( ):
     print (i, j, end =  '')

1 A2 B3 C

In [29]:
a={1:'A', 2:'B', 3:'C'}
print(a. setdefault(3,'D'))

C

In [30]:
def maximum (x,y):
       if x > y:
           return x
       elif x ==y:
           return 'The numbers are equal'
       else:
           return y
print (maximum (2,3))

3

In [32]:
def func (a):
         b =a.copy()
         b.append(6)
         b = b+[7]
         print(b)
a = [10,15,20,25]
print(func(a))
print(a)

[10, 15, 20, 25, 6, 7]
None
[10, 15, 20, 25]

In [35]:
a={1: 'A', 2:'B', 3: 'C'}
b=a. copy ( )
b[2] = 'D'
b. clear ( )
print (a)

{1: 'A', 2: 'B', 3: 'C'}

In [36]:
import math
print (math. factorial (4.5))

TypeError: 'float' object cannot be interpreted as an integer

In [38]:
tuple1 = (11,22,33,44,55,66)
list1 = list (tuple1)
new_list = [ ]
for i in list1:
      if i%2 ==0:
          new_list .append (i) 
new_tuple = tuple (new_list)
print(new_tuple)

(22, 44, 66)

In [42]:
Data_visualization = {'Matplotlib', 'Ggplot','Plotly','Altair','Autoviz','Wrapping Up'}
print(Data_visualization[2:7], "and", Data_visualization[-4:-1])

TypeError: 'set' object is not subscriptable

In [44]:
Data_Mining_Data_Scraping =('SQLAlchemy','Scrapy','BeautifulSoup')
print (min (Data_Mining_Data_Scraping ))
print (sum(Data_Mining_Data_Scraping ))

BeautifulSoup

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [45]:
Data_Processing = ('Panda','Numpy','SciPy','Sci-Kit Learn', 'PyCaret','Tensorflow','OpenCv')
for i in range(len(Data_Processing)):
    if bool(Data_Processing[i])== True:
        del Data_Processing[i]
print(Data_Processing)

TypeError: 'tuple' object doesn't support item deletion

In [46]:
Module = ['Pandas', 'Numpy', 'Scipy', 'Matplotlib', 'StatsModels', 'Seaborn']
while True:
    for i in range(len(Module)):
        if Module.index('Scipy') == 2:
            Module[1], Module[2] = Module[2],Module[1]
    else:
        break
print(Module)

['Pandas', 'Scipy', 'Numpy', 'Matplotlib', 'StatsModels', 'Seaborn']

In [47]:
def listSum(numbers):
   if not numbers:
     return 0
   else:
     (f, rest) = numbers
     return f + listSum(rest)

myList = (1, (2, (3, None)))
total = listSum(myList)
print(total)

6

In [48]:
def flipnumber(l,y):
      for i  in range(y):
            if   l[i] %3 ==0:
                l[i] **=3 
            if   l[i] %2 ==0:
                l[i] **=2
l=[3,2,4,8,9]
flipnumber(l,5)
for i in l :
            print ( i, end = '#')

27#4#16#64#729#

In [50]:
def sum():
    global p
    p = p +7**2
    print (p,end = '#')
p=10
print (p, end = '@')
sum()
print(p)

10@59#59

In [51]:
def  sum(*args):
        r=0
        for i in args:
              r+=i
        return r
print ( sum (1,2,3))
print ( sum (1,2,3,4,5))

6
15

1235

In [4]:
def Findoutput ():
    L = "earn" 
    X = "" 
    L1 = [] 
    count = 1
    for i in L:
        if i in ['a', 'e', 'i', 'o','u']:
            X = X+i . swapcase()
        else : 
            if (count%2!= 0): 
                X = X +str(len(L[:count])) 
            else:
                X = X+i 
                count = count+1 
    print(X)

Findoutput()

EA11

In [6]:
def Func():
    i = 11
    while i > 1:
        if i%2 == 0:
            a = i%2
            i = i-1
        else:
            i = i- 3
            a = i
        print(a**3,end =' ')
Func()

512 0 64 0 0