In [1]:
X = 100
Y = X  + 5
print(X,Y)

100 105

In [2]:
x = 10
if x > 15:
    y = x + 5
print(x,y)

NameError: name 'y' is not defined

In [3]:
x = 100
if x > 15:
    y = x + 5
print(x,y)

100 105

In [5]:
x = 10
if x > 15:
    y = x + 5
    print(x,y)
print("Done")

Done

In [ ]:
x = 10
if x > 15:
    y = x + 5
    print(x,y)
print("Done")

In [2]:
x = "a"
if x == 'a':
    pass

SyntaxError: incomplete input (353107268.py, line 3)

i) sequence - one by one line
ii)selection - 
iii) repetition

In [1]:
print("Heat the pan")
print("spread batter on the flat pan")
print("Flip the dosa after 20 seconds")
print("Flip the dosa after 20 seconds")
print("Take it off from pan")

Heat the pan
spread batter on the flat pan
Flip the dosa after 20 seconds
Flip the dosa after 20 seconds
Take it off from pan

if <condition_test>:
    <statement>
    ...

In [5]:
dinner = input("enter the dinner")
if dinner == 'dosa':
    print("Heat the pan")
    print("spread batter on the flat pan")
    print("Flip the dosa after 20 seconds")
    print("Flip the dosa after 20 seconds")
    print("Take it off from pan")
if dinner == 'idly':
    print("boil the water in the idly cooker")
    print("keep the idly plat with batter in the cooker ")
    print("Wait fo 10 min")
    print("After that serve it")

enter the dinnerdosa
Heat the pan
spread batter on the flat pan
Flip the dosa after 20 seconds
Flip the dosa after 20 seconds
Take it off from pan

In [6]:
dinner = input("enter the dinner")
if dinner == 'dosa':
    x = int(input("No of dosa:"))
    for i in range(x):
        
        print("Heat the pan")
        print("spread batter on the flat pan")
        print("Flip the dosa after 20 seconds")
        print("Flip the dosa after 20 seconds")
        print("Take it off from pan")
if dinner == 'idly':
    x = int(input("No of idly:"))
    for i in range(x):
        print("boil the water in the idly cooker")
        print("keep the idly plat with batter in the cooker ")
        print("Wait fo 10 min")
        print("After that serve it")
print("Bye.....")

enter the dinneridly
No of idly:3
boil the water in the idly cooker
keep the idly plat with batter in the cooker
Wait fo 10 min
After that serve it
boil the water in the idly cooker
keep the idly plat with batter in the cooker
Wait fo 10 min
After that serve it
boil the water in the idly cooker
keep the idly plat with batter in the cooker
Wait fo 10 min
After that serve it
Bye.....

In [7]:
'''
Simple if
if <condition_test>:
    <statement>
    
'''
x = int (input("Enter the number:"))
if x%2 == 0:
    print(x," Even Number")
print("Program Over")

Enter the number:38
38  Even Number
Program Over

In [8]:
'''
Simple if
if <condition_test>:
    <statement>
    
'''
x = int (input("Enter the number:"))
if x%2 == 0:
    print(x," Even Number")
print("Program Over")

Enter the number:35
Program Over

In [9]:
'''
Simple if
if <condition_test>:
    <statement>
    
'''
x = int (input("Enter the number:"))
if x%2 == 0:
    print(x," Even Number")
if x%2 != 0:
    print(x," Odd Number")
print("Program Over")

Enter the number:35
35  Odd Number
Program Over

In [10]:
'''
Simple if
if <condition_test>:
    <statement>
    
'''
x = int (input("Enter the number:"))
if x%2 == 0:
    print(x," Even Number")
if x%2 != 0:
    print(x," Odd Number")
print("Program Over")

Enter the number:54
54  Even Number
Program Over

In [14]:
'''
Simple if
if <condition_test>:
    <statement>
    
'''
x = int (input("Enter the number:"))
if x%5 == 0:
    print(x," divisible by 5")
if x%7 == 0:
    print(x," divisible by 7")
print("Program Over")

Enter the number:35
35  divisible by 5
35  divisible by 7
Program Over

In [15]:
x = int (input("Enter the number:"))
if x%5 == 0 and x%7 == 0:
    print(x," divisible by 5 and 7")

print("Program Over")

Enter the number:45
Program Over

In [16]:
x = int (input("Enter the number:"))
if x%5 == 0 and x%7 == 0:
    print(x," divisible by 5 and 7")

print("Program Over")

Enter the number:35
35  divisible by 5 and 7
Program Over

In [19]:
x = int (input("Enter the number:"))
if x%5 == 0 or x%7 == 0:
    print(x," divisible by 5 or 7")

print("Program Over")

Enter the number:35
35  divisible by 5 or 7
Program Over

In [20]:
x = int (input("Enter the number:"))
if x%5 == 0 or x%7 == 0:
    print(x," divisible by 5 or 7")

print("Program Over")

Enter the number:2
Program Over

In [21]:

x = int (input("Enter the number:"))
if x%2 == 0:
    print(x," Even Number")
else:
    print(x," Odd Number")
print("Program Over")

Enter the number:31
31  Odd Number
Program Over

In [22]:

x = int (input("Enter the number:"))
if x%2 == 0:
    print(x," Even Number")
else:
    print(x," Odd Number")
print("Program Over")

Enter the number:44
44  Even Number
Program Over

In [24]:
amount = int(input("Enter:"))
if amount >500:
    print("Mall")
else:
    print("Theatre")

Enter:300
Theatre

In [25]:
mark = int(input("enter the mark:"))
if mark > 450:
    print("Biology")
elif mark >350:
    print("CS")
elif mark > 250:
    print("Commerce")

enter the mark:450
CS

In [26]:
mark = int(input("enter the mark:"))
if mark >= 450:
    print("Biology")
elif mark >350:
    print("CS")
elif mark > 250:
    print("Commerce")

enter the mark:450
Biology

In [28]:
mark = int(input("enter the mark:"))
if mark >= 450:
    print("Biology")
elif mark >=350:
    print("CS")
elif mark >= 250:
    print("Commerce")

enter the mark:1000
Biology

In [1]:
n = int(input("Enter the value:"))
if n == 0:
    print("zero")
if n == 1:
    print("One")
if n == 2:
    print("Two")
if n == 3:
    print("Three")
print("Program ends")

Enter the value:2
Two
Program ends

In [4]:
n = int(input("Enter the value:"))
if n == 0:
    print("zero")
elif n == 1:
    print("One")
elif n == 2:
    print("Two")
elif n == 3:
    print("Three")
else:
    print("Enter the value 0 to 3")
print("Program ends")

Enter the value:7
Enter the value 0 to 3
Program ends

In [6]:
age = int(input("Enter the age:"))

print("Age:",age)
if age >= 18:
    gender = input("enter the gender")
    if gender == "Female":
        print("Can get married")
    else:
        if gender == "Male":
            if age>=21:
                print("Male can get married")
else:
    print("Child marriage is prohibited in india ")

Enter the age:12
Age: 12
Child marriage is prohibited in india

In [10]:
age = int(input("Enter the age:"))

print("Age:",age)
if age >= 18:
    gender = input("enter the gender")
    if gender == "Female":
        print("Female Can get married")
    else:
        if gender == "Male":
            if age>=21:
                print("Male can get married")
else:
    print("Child marriage is prohibited in india ")

Enter the age:20
Age: 20
enter the genderMale

In [11]:
age = int(input("Enter the age:"))

print("Age:",age)
if age >= 18:
    gender = input("enter the gender")
    if gender == "Female":
        print("Female Can get married")
    else:
        if gender == "Male":
            if age>=21:
                print("Male can get married")
            else:
                print("Sorry not allowed to get marriage ")
else:
    print("Child marriage is prohibited in india ")

Enter the age:20
Age: 20
enter the genderMale
Sorry not allowed to get marriage

"""
for <iterable_variable> in <seq>:
    <statement>
"""

In [12]:
for i in "flow":
    print(i)

f
l
o
w

In [ ]:
j = 10
while j>0:
    print(j)
    j  = j - 1

In [ ]:
i = 4
j = -1
while i < 4:
    print(i)

In [2]:
n = int(input("Enter the table number:"))
i = 1
while i <= 20:
    print( i,'*',n,'=',i*n)
    i = i+ 1

Enter the table number:2500
1 * 2500 = 2500
2 * 2500 = 5000
3 * 2500 = 7500
4 * 2500 = 10000
5 * 2500 = 12500
6 * 2500 = 15000
7 * 2500 = 17500
8 * 2500 = 20000
9 * 2500 = 22500
10 * 2500 = 25000
11 * 2500 = 27500
12 * 2500 = 30000
13 * 2500 = 32500
14 * 2500 = 35000
15 * 2500 = 37500
16 * 2500 = 40000
17 * 2500 = 42500
18 * 2500 = 45000
19 * 2500 = 47500
20 * 2500 = 50000

In [6]:
n = int(input("Enter the table number:"))
i = 1
while i <= 20:
    if i == 5:
       continue
    print( i,'*',n,'=',i*n)
    i = i+ 1
else:
    print("Over")

Enter the table number:25
1 * 25 = 25
2 * 25 = 50
3 * 25 = 75
4 * 25 = 100

KeyboardInterrupt:

In [7]:
print('*'+'&')

*&

In [8]:
print('*' * 200)

********************************************************************************************************************************************************************************************************

In [9]:
for i in range(1,5):
    print('*',end = ' ')

* * * *

In [11]:
for i in range(1,5):
    for j in range(i,i+1):
        print('*',end = ' ')

* * * *

In [13]:
for i in range(1,5):
    for j in range(0,i+1):
        print('*',end = ' ')
    print()

* *
* * *
* * * *
* * * * *

In [14]:
for i in range(1,5):
    for j in range(1,i+1):
        print('*',end = ' ')
    print()

*
* *
* * *
* * * *

In [19]:
for i in range(65,75):
    for j in range(65,i+1):
        print(chr(i),end = ' ')
    print()
print(ord('z'))

A
B B
C C C
D D D D
E E E E E
F F F F F F
G G G G G G G
H H H H H H H H
I I I I I I I I I
J J J J J J J J J J
122

In [20]:
for i in range(75,65,-1):
    for j in range(i,i-1):
        print(chr(i),end = ' ')
    print()
print(ord('z'))

122