In [1]:
int a = 10
print(a)

SyntaxError: invalid syntax (1219632346.py, line 1)

In [2]:
num1 = 10.0
num2 = input("num2 = ") 
print(num1/num2)

num2 = 4

TypeError: unsupported operand type(s) for /: 'float' and 'str'

In [4]:
math = 26 //3/2+5 and not(4 and 5) or  (3**2**2)
print(math)
#print((((53)>10) and 4) + 6) == 11)

81

In [5]:
a = 125
print(a)
a += 5  
print(a)
a -= 10  
print(a)
a *= 10  
print(a)
a /= 10
print(a)
a %= 10
print(a)
a **=10
print(a)
a //= 10 
print(a)

125
130
120
1200
120.0
0.0
0.0
0.0

In [6]:
a=[10,25,45,88]
print(22 in a)
print(22 not in a)

False
True

In [7]:
a = 25
print(a >= 10 and a <= 20)
print(a >= 10 or a <= 20)
print(not(a >=  10 and a <= 20))

False
True
True

In [8]:
tup = (10,20,30,40,50,60,70,80,90,70)
print(tup[-3:-7:-2])

(80, 60)

In [9]:
import math
a = math.ceil(20.5)
b = a/5
c= math.floor(b)
print(c)

4

In [10]:
var = 10
for i in range(10):
    for j in range(2, 10, 1):
        if var % 2 == 0:
            continue
            var += 1
    var+=1
else:
    var+=1
print(var)

21

In [11]:
for num in range(-2,-5,-1):
    print(num, end=", ")

-2, -3, -4,

In [13]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
while len(d) >= 3:
    print(d.popitem())
    
print('Done.')

('baz', 3)
Done.

In [14]:
Lang =['Javascript','Python','Go','Java']
for i in range(len(Lang)):
    Lang1 =['Kotlin','PHP','C#']
    for j in range(len(Lang1)-1):
        x = Lang1.pop(j)
        Lang.append(x)
print(Lang)

['Javascript', 'Python', 'Go', 'Java', 'Kotlin', 'C#', 'Kotlin', 'C#', 'Kotlin', 'C#', 'Kotlin', 'C#']

In [15]:
Lang =['Javascript','Python','Go','Java']
x =[]
Lang1 =['Kotlin','PHP','C#','cpp']
for i in range(len(Lang)):
    x .append( (i,Lang1.pop()))
Lang.append((x,i))
print(Lang,sep= '*',end = '')

['Javascript', 'Python', 'Go', 'Java', ([(0, 'cpp'), (1, 'C#'), (2, 'PHP'), (3, 'Kotlin')], 3)]

In [16]:
Lang =['Javascript','Python','Go','Java']
Lang2=['Swift','R','Ruby','C and C++']
for i in range(len(Lang)):
    Lang.extend(Lang2)
    break
print(Lang)

['Javascript', 'Python', 'Go', 'Java', 'Swift', 'R', 'Ruby', 'C and C++']

In [17]:
x= "The Web does not just connect machines, it connects people."
while x.istitle():
    x = x.capitalize()
    print(x)
else:
    x= x.title()
    print(x)

The Web Does Not Just Connect Machines, It Connects People.

In [18]:
x= "The Web does not just connect machines, it connects people."
print(x.find("web"))
print(x.count('o',2,30))

-1
3

In [27]:
x= "The Web does not just connect machines, it connects people."
if  i.isalpha():
        pass
else:
        y =x.replace('o','oo')
        
print(y)

The Web dooes noot just coonnect machines, it coonnects peoople.

In [28]:
s ="James Arthur Gosling is a Canadian computer scientist"
word = x.split("is a")
print(word)

['The Web does not just connect machines, it connects people.']

In [29]:
programmer ="Linus Benedict Torvalds is a engineer the development of the Linux kernel."
print(x.partition('Linux'))

('The Web does not just connect machines, it connects people.', '', '')

In [30]:
Manufacturer =['Toyota Group','Apple','Volkswagen Group of America','Samsung']
for i in Manufacturer:
    print(Manufacturer.index('Apple'),end= '')
    continue

1111

In [31]:
Manufacturer =['Toyota Group','Apple','Volkswagen Group of America','Samsung']
print(Manufacturer.remove('Samsung'))
print(Manufacturer)

None
['Toyota Group', 'Apple', 'Volkswagen Group of America']

In [33]:
m= [[[1,2],[3,4]],[[5,6],[7,8]]]
print(m)
v = m[0][0]
print(v)
for row in m:
    for element in row:
        if v < element:
            v = element
print(m[0])

[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, 2]
[[1, 2], [3, 4]]

In [34]:
t = "PyCharm,Sublime Text,Pydev,Spyder,Jypter Notebook"
print(t)
count = 1
for i in t:
    c=t.index('y')
    count +=1
    
print(count+c)

PyCharm,Sublime Text,Pydev,Spyder,Jypter Notebook
51

In [35]:
dict_exam={"Exam":"AISSCE","Year":2023}
dict_result = {"Total":500,"Pass_Marks":165}
print(dict_exam + dict_result, len(dict_exam))

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [36]:
std = ['I','II','III','IV','V']
strength = [100,35,76,54,70]
l = []
for i in range(len(std)):
    l.append((std[i],strength[i]))
print(l)
d = dict(l)
d.update({'IV':'50','V':100})
print(d)

[('I', 100), ('II', 35), ('III', 76), ('IV', 54), ('V', 70)]
{'I': 100, 'II': 35, 'III': 76, 'IV': '50', 'V': 100}

In [38]:
marks={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}
v = marks.values()
maxi = max(v)
mini = min(v)
print("Maximum :",maxi)
print("Minimum :",mini)

Maximum : 89
Minimum : 35

In [39]:
val = "Computer Science programming Language in Kurinji Education Institution"
print("Original string : ",val)
dic = {"Computer" : "Software ", "Education" : "Solution"}
word = val.split()
res = []
for w in word:
    res.append(dic.get(w, w))
res = ' '.join(res)
print("Replaced Strings : " ,res)

Original string :  Computer Science programming Language in Kurinji Education Institution
Replaced Strings :  Software  Science programming Language in Kurinji Solution Institution

In [40]:
d={"m1":78 , "m2":89 , "m3":64 , "m4":35 , "m5":71}
des = sorted(d.items(),reverse=True)
print("Descending Order :",des)
des = reversed(d.items())
for i in des:
    print(i,end = ' ')

Descending Order : [('m5', 71), ('m4', 35), ('m3', 64), ('m2', 89), ('m1', 78)]
('m5', 71) ('m4', 35) ('m3', 64) ('m2', 89) ('m1', 78)

In [41]:
names={'Ram','Ram','Sam','Ravi','Kumar','Sundar','Suresh'}
print(names[1])
names[1]='sai'
print(names)

TypeError: 'set' object is not subscriptable

In [42]:
num1 = 10
num2 = 20
num3 = num1 + num2
print(num3)
print(type(num3))
num4 = float(num1 + num2)
print(num4)
print(type(num4))

30
<class 'int'>
30.0
<class 'float'>