'''
Text File Name: William.txt-OUTPUT Finding
These beauteous forms, 
Through a long absence, have not been to me 
As is a landscape to a blind man’s eye: 
But oft, in lonely rooms, and ’mid the din 
Of towns and cities, I have owed to them, 
In hours of weariness, sensations sweet



Find the output of the following code?'''

'' Text File Name: William.txt-OUTPUT Finding These beauteous forms, Through a long absence, have not been to me As is a landscape to a blind man’s eye: But oft, in lonely rooms, and ’mid the din Of towns and cities, I have owed to them, In hours of weariness, sensations sweet

Find the output of the following code?'''

In [9]:
file = open("life.txt",'r')
print(file.read())
file.close()

These beauteous forms,
Through a long absence, have not been to me
As is a landscape to a blind man's eye:
But oft, in lonely rooms, and mid the din
Of towns and cities, I have owed to them,
In hours of weariness, sensations sweet

In [11]:
file = open("life.txt",'r')
print(file.readline())
print(file.readline())
file.close()

These beauteous forms,

Through a long absence, have not been to me

In [12]:
file = open("life.txt",'r')
print(file.readlines())
print(file.readline())
file.close()

['These beauteous forms,\n', 'Through a long absence, have not been to me \n', "As is a landscape to a blind man's eye: \n", 'But oft, in lonely rooms, and mid the din \n', 'Of towns and cities, I have owed to them, \n', 'In hours of weariness, sensations sweet']

#Write a python user defined function countword() to count number of words in a text file life.txt

In [14]:
def countword():
    file = open('life.txt','r')
    word = 0
    r = file.read()
    w = r.split()
    for i in w:
        word += 1
    print("The total number of word is:",word)
    file.close()
countword()

The total number of word is: 45

#Write a python user defined function countspace() to count number of whitespaces in a text file life.txt

In [17]:
def countspace():
    file = open('life.txt','r')
    space = 0
    r = file.read()
    for i in r:
        if i . isspace():
            space += 1
    print("The total number of whitespace is:",space)
    file.close()
countspace()

The total number of whitespace is: 48

In [ ]:
#Write a python user defined function countspace() to count number of whitespaces other than newline characters in a text file life.txt

In [20]:
def countspace():
    file = open('life.txt','r')
    space = 0
    r = file.read()
    for i in r:
        if i . isspace() and i != '\n' :
            space += 1
    print("The total number of whitespace other than newline characters is:",space)
    file.close()
countspace()

The total number of whitespace other than newline characters is: 43

#Write a python user defined function countnewline() to count number of newline character in a text file life.txt

In [23]:
def countEOL():
    file = open('life.txt','r')
    space = 0
    r = file.read()
    for i in r:
        if i in ['\r','\n','\r\n']:
            space += 1
    print("The total number of EOL is:",space)
    file.close()
countEOL()

The total number of whitespace other than newline characters is: 5

#Write a user defined function to count  the frequency of each alphabet in the file life.txt

In [27]:
def countalphafreq():
    file = open('life.txt','r')
    d ={}
    alpha = []
    r = file.read()
    for i in r:
        if i .isalpha():
            alpha.append(i)
    for i in alpha:
        d[i] =alpha.count(i)
            
    print(d)
    file.close()
countalphafreq()

{'T': 2, 'h': 8, 'e': 24, 's': 18, 'b': 4, 'a': 14, 'u': 5, 't': 13, 'o': 17, 'f': 4, 'r': 5, 'm': 6, 'g': 2, 'l': 5, 'n': 17, 'c': 3, 'v': 2, 'A': 1, 'i': 9, 'd': 7, 'p': 1, 'y': 2, 'B': 1, 'O': 1, 'w': 4, 'I': 2}

In [ ]:
#Write a user defined function to count  the frequency of each alphabet in the file life.txt

In [28]:
def countalphafreq():
    file = open('life.txt','r')
    d ={}
    alpha = []
    incre = 0
    r = file.read()
    for i in r:
        if not i .isalnum():
            alpha.append(i)
    for i in alpha:
        d[i] =alpha.count(i)
            
    print(d)
    file.close()
countalphafreq()

{' ': 43, ',': 7, '\n': 5, "'": 1, ':': 1}

In [ ]:
#Write the user defined function wordTt() to count and display number of words starts with T or t in file life .txt

In [31]:
def wordTt():
    file = open('life.txt','r')
    r = file.read().split()
    t = 0
    for i in r:
        if i[0] in 'Tt':
            print(i,end = ' ')
            t += 1
    print()              
    print(t,"number of words starts with T or t")
    file.close()
wordTt()

These Through to to the towns to them,
8 number of words starts with T or t

In [32]:
def wordTt():
    file = open('life.txt','r')
    r = file.read().split()
    t = 0
    for i in r:
        if i[0]=='T' or i[0] =='t':
            print(i,end = ' ')
            t += 1
    print()              
    print(t,"number of words starts with T or t")
    file.close()
wordTt()

These Through to to the towns to them,
8 number of words starts with T or t

In [33]:
def wordTt():
    file = open('life.txt','r')
    r = file.read().split()
    t = 0
    for i in r:
        if i[0].lower() =='t':
            print(i,end = ' ')
            t += 1
    print()              
    print(t,"number of words starts with T or t")
    file.close()
wordTt()

These Through to to the towns to them,
8 number of words starts with T or t

In [36]:
def wordTt():
    file = open('life.txt','r')
    r = file.read().split()
    t = 0
    for i in r:
        if (i.upper()).startswith('T'):
            print(i,end = ' ')
            t += 1
    print()              
    print(t,"number of words starts with T or t")
    file.close()
wordTt()

These Through to to the towns to them,
8 number of words starts with T or t

In [ ]:
#write the python user defined function lineA() to display line begins with 's' from the file shami.txt

In [1]:
def lineA():
    file = open('shami.txt','r')
    read = ' '
    while read:
        read = file.readline()
        if read.endswith('s'):
            print(read)
    file.close()
lineA()

It is the courage to continue that counts

In [ ]:
#Write the user defined function to find the shortest line in a file

In [8]:
def lineA():
    file = open('life.txt','r')
    read = file.readlines()
    r = ''
    s = 0
    for i in range(len(read)-1):
        if len(read[i])>= len(read[i+1]):
            r = read[i]
    print(r)
    file.close()
lineA()

Of towns and cities, I have owed to them,

#Write a user defined function createIIT(college)  to write the content into a file IIT.dat

['RANK','INSITITUTION','CITY']
[1,'IIT BOMBAY','MUMBAI']
[2,'IIT DELHI','DELHI']
[3,'IIT MADARAS','CHENNAI']
[4,'IIT KHARAGPUR','KHARAGPUR']

In [9]:
import pickle
def createIIT(college):
    f = open("IITcollege.dat","wb")
    n = int(input("Enter the number of records to be read:"))
    for i in range(n):
            rank = int(input("Enter the college Rank:"))
            institution = input("Enter the insitution name: ")
            city = input("Enter the city:")
            college = [rank, institution,city]
            pickle.dump(college,f)
    f.close()
college =[]
createIIT(college)

Enter the number of records to be read:4
Enter the college Rank:1
Enter the insitution name: IIT BOMBAY
Enter the city:BOMBAY
Enter the college Rank:2
Enter the insitution name: IIT DELHI
Enter the city:DELHI
Enter the college Rank:3
Enter the insitution name: IIT MADARAS
Enter the city:MADARAS
Enter the college Rank:4
Enter the insitution name: IIT KHARAGPUR
Enter the city:KHARAGPUR

In [11]:
import pickle
def readIIT():
    f = open("IITcollege.dat","rb")
    try :
        while True:
            r = pickle.load(f)
            print(r)
    except EOFError:
        f.close()
    
readIIT()

[1, 'IIT BOMBAY', 'BOMBAY']
[2, 'IIT DELHI', 'DELHI']
[3, 'IIT MADARAS', 'MADARAS']
[4, 'IIT KHARAGPUR', 'KHARAGPUR']

In [12]:
import pickle
def createIIT(college):
    f = open("IITcollege.dat","ab")
    n = int(input("Enter the number of records to be read:"))
    for i in range(n):
            rank = int(input("Enter the college Rank:"))
            institution = input("Enter the insitution name: ")
            city = input("Enter the city:")
            college = [rank, institution,city]
            pickle.dump(college,f)
    f.close()
college =[]
createIIT(college)

Enter the number of records to be read:2
Enter the college Rank:5
Enter the insitution name: IIT GUWAHATHI
Enter the city:GUWAHATI
Enter the college Rank:6
Enter the insitution name: IIT KANPUR
Enter the city:KANPUR

In [14]:
import pickle
def readIIT():
    f = open("IITcollege.dat","rb")
    try :
        while True:
            r = pickle.load(f)
            print(r)
    except EOFError:
        f.close()
    
readIIT()

[1, 'IIT BOMBAY', 'BOMBAY']
[2, 'IIT DELHI', 'DELHI']
[3, 'IIT MADARAS', 'MADARAS']
[4, 'IIT KHARAGPUR', 'KHARAGPUR']
[5, 'IIT GUWAHATHI', 'GUWAHATI']
[6, 'IIT KANPUR', 'KANPUR']

In [17]:
import pickle
def updateIIT():
    f = open("IITcollege.dat","rb+")
    try :
        while True:
            pos = f.tell()
            r = pickle.load(f)
            if r[1].endswith('MADARAS'):
                r[2] = 'CHENNAI'
            elif r[1].endswith('BOMBAY'):
                r[2] ="MUMBAI"
            f.seek(pos)
            pickle.dump(r,f)
    except EOFError:
        f.close()
    
updateIIT()
readIIT()

[1, 'IIT BOMBAY', 'MUMBAI']
[2, 'IIT DELHI', 'DELHI']
[3, 'IIT MADARAS', 'CHENNAI']
[4, 'IIT KHARAGPUR', 'KHARAGPUR']
[5, 'IIT GUWAHATHI', 'GUWAHATI']
[6, 'IIT KANPUR', 'KANPUR']

In [2]:
import pickle
def deleteIIT():
    f = open("IITcollege.dat","rb+")
    try :
        while True:
            pos = f.tell()
            r = pickle.load(f)
            if r[2] =='KANPUR':
                r.remove('KANPUR')
            f.seek(pos)
            pickle.dump(r,f)
    except EOFError:
        f.close()
    
#deleteIIT()
readIIT()

Shreyas is aprogrammer, who has recently been given a task to write a user defined function named write_bin() to create a binary file called cust_file.dat
containing customer information - customer number(amt) of each customer.
The function accepts customer number

['1', 'James Reading Rescue', 'MCGILL']
['2', 'Many Women, Many Voices', 'MCGILL']
['3', 'Future Programmer', 'Balagurusamy']

In [4]:
import csv
def add_Book():
    with open ("Book.csv","w",newline ="\n") as f:
        cw = csv.writer(f, delimiter='|')
        book_id = int(input("Enter the Book id:"))
        b_name = input("Enter the book name:")
        pub = input("Enter the publisher name:")
        details=[book_id,b_name,pub]
        cw.writerow(details)
        f.close()
def search_Book():
    with open ("Book.csv","r") as f:
        details = csv.reader(f,delimiter = "|")
        print(details)
        name = input("Enter the Publisher Name to be searched")
        pub_count = 0
        for i in details:
            print(i)
            if i[2] == name:
                pub_count += 1
        print("Number of Books:",pub_count)
#add_Book()
search_Book()

<_csv.reader object at 0x000002247A119C60>
Enter the Publisher Name to be searchedMCGILL
['1', 'James', 'MCGILL']
Number of Books: 1

In [8]:
import csv
def update_Book():
    with open ("Book.csv","a",newline ="\n") as f:
        cw = csv.writer(f, delimiter='|')
        n = int(input("Enter the number of records to be updated:"))
        for i in range(n):
            book_id = int(input("Enter the Book id:"))
            b_name = input("Enter the book name:")
            pub = input("Enter the publisher name:")
            details=[book_id,b_name,pub]
            cw.writerow(details)
        f.close()
update_Book()

Enter the number of records to be updated:2
Enter the Book id:2
Enter the book name:Many Women, Many Voices
Enter the publisher name:MCGILL
Enter the Book id:3
Enter the book name:Future Programmer
Enter the publisher name:Balagurusamy

In [10]:
def read_Book():
    with open ("Book.csv","r") as f:
        details = csv.reader(f,delimiter ="|")
        for i in details:
            print(i)
        
read_Book()

['1', 'James', 'MCGILL']
['2', 'Many Women, Many Voices', 'MCGILL']
['3', 'Future Programmer', 'Balagurusamy']

In [14]:
import csv
def Patch_Book():
     with open ("Book.csv","r+",newline="\n") as f:
        cw = csv.writer(f,delimiter = "|")
        details = csv.reader(f,delimiter ="|")
        pos = f.tell()
        patch =[]
        id  = int(input("Enter the ID number to update Book name "))
        for i in details:
            if int(i[0]) == id:
                i[1] = input("Enter the correct Book name")
            patch.append(i)
        f.seek(pos)
        cw.writerows(patch)
        f.seek(0)
        for i in csv.reader(f,delimiter='|'):
            print(i)
        
Patch_Book()

Enter the ID number to update Book name 1
Enter the correct Book nameJames Reading Rescue
['1', 'James Reading Rescue', 'MCGILL']
['2', 'Many Women, Many Voices', 'MCGILL']
['3', 'Future Programmer', 'Balagurusamy']

In [20]:
import pymysql
con =pymysql.connect(host = 'localhost',user ="root",password ="root")
cursor = con. cursor()
cursor.execute("CREATE DATABASE Institution")
cursor.execute("USE Institution")
con.commit()
cursor.execute("SHOW DATABASES")
data = cursor.fetchall()
for row in data:
    print(row)
print("Total number of records fetched:",cursor.rowcount)
con.close()

('car_data',)
('current_bill',)
('db_librarymanagement',)
('employee',)
('information_schema',)
('institution',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('wastefellows',)
('world',)
Total number of records fetched: 12

In [6]:

import pymysql
con =pymysql.connect(host = 'localhost',user ="root",password ="root",database = "Institution")
cursor = con. cursor()

cursor.execute("CREATE TABLE IF NOT EXISTS faculty(F_ID int Primary key,FName varchar(20) NOT NULL,LName varchar(20) NOT NULL,Gender char,Hire_Date DATE, Salary decimal(10,2))")
con.commit()
cursor.execute("SHOW TABLES")
data = cursor.fetchone()
for row in data:
    print(row)
print("Total number of records fetched:",cursor.rowcount)
cursor.execute("DESCRIBE {}".format("faculty"))
data = cursor.fetchall()
for row in data:
    print(row)
con.close()

faculty
Total number of records fetched: 1
('F_ID', 'int', 'NO', 'PRI', None, '')
('FName', 'varchar(20)', 'NO', '', None, '')
('LName', 'varchar(20)', 'NO', '', None, '')
('Gender', 'char(1)', 'YES', '', None, '')
('Hire_Date', 'date', 'YES', '', None, '')
('Salary', 'decimal(10,2)', 'YES', '', None, '')

In [2]:

import pymysql
def insertrecord(db,tbl):
    con =pymysql.connect(host = 'localhost',user ="root",password ="root",database = db)
    cursor = con. cursor()
    n = int(input("Enter the number of records to be inserted:"))
    for i in range(n):
        F_ID = int(input("Enter the faculty id:"))
        FName  = input("Enter the Faculty First Name:")
        LName  = input("Enter the Faculty Last Name:")
        Gender  = input("Enter the Faculty Gender M/F:")
        Hire_Date  = input("Enter the Hir Date in YYYY/MM/DD:")
        Salary = float(input("Enter the Faculty Salary"))
        cursor.execute("INSERT INTO Faculty  VALUES({},'{}','{}','{}','{}','{}')".format(F_ID ,FName ,LName ,Gender ,Hire_Date , Salary ))
        con.commit()
    cursor.execute("SELECT * FROM Faculty")
    cursor.exe
    data = cursor.fetchall()
    for row in data:
        print(row)
    print("Total number of records fetched:",cursor.rowcount)
    con.close()
insertrecord("Institution","Faculty")

Enter the number of records to be inserted:2
Enter the faculty id:1002
Enter the Faculty First Name:Varuin
Enter the Faculty Last Name:Adithya
Enter the Faculty Gender M/F:M
Enter the Hir Date in YYYY/MM/DD:2022-07-09
Enter the Faculty Salary30000
Enter the faculty id:1003
Enter the Faculty First Name:Surendra
Enter the Faculty Last Name:shivan
Enter the Faculty Gender M/F:F
Enter the Hir Date in YYYY/MM/DD:2023-10-10
Enter the Faculty Salary400000
(104, 'Sudhir', 'Shivam', 'M', datetime.date(2020, 5, 22), Decimal('50000.00'))
(1002, 'Varuin', 'Adithya', 'M', datetime.date(2022, 7, 9), Decimal('30000.00'))
(1003, 'Surendra', 'shivan', 'F', datetime.date(2023, 10, 10), Decimal('400000.00'))
Total number of records fetched: 3

Enter the number of records to be inserted:3
Enter the faculty id:102
Enter the Faculty First Name:Nitin
Enter the Faculty Last Name:Vyas
Enter the Faculty Gender M/F:M
Enter the Hir Date in YYYY/MM/DD:2021-07-30
Enter the Faculty Salary40000
Enter the faculty id:106
Enter the Faculty First Name:Sulekkha
Enter the Faculty Last Name:Srivastava
Enter the Faculty Gender M/F:F
Enter the Hir Date in YYYY/MM/DD:2022-10-10
Enter the Faculty Salary75500
Enter the faculty id:101
Enter the Faculty First Name:Amit
Enter the Faculty Last Name:Mishra
Enter the Faculty Gender M/F:M
Enter the Hir Date in YYYY/MM/DD:2023-11-21
Enter the Faculty Salary98000

In [32]:
insertrecord("Institution","Faculty")

Enter the number of records to be inserted:2
Enter the faculty id:102
Enter the Faculty First Name:Nitin
Enter the Faculty Last Name:Vyas
Enter the Faculty Gender M/F:M
Enter the Hir Date in YYYY/MM/DD:2021-07-03
Enter the Faculty Salary50000
Enter the faculty id:106
Enter the Faculty First Name:Sulekha
Enter the Faculty Last Name:Srivastava
Enter the Faculty Gender M/F:F
Enter the Hir Date in YYYY/MM/DD:2022-10-10
Enter the Faculty Salary90000
(106, 'Sulekha', 'Srivastava', 'F', datetime.date(2022, 10, 10), Decimal('90000.00'))
Total number of records fetched: 1

In [3]:
import pymysql
def displayrecord(db,tbl):
    con =pymysql.connect(host = 'localhost',user ="root",password ="root",database = db)
    cursor = con. cursor()
    cursor.execute("SELECT * FROM Faculty")
    data = cursor.fetchall()
    for row in data:
        print(row)
    print("Total number of records fetched:",cursor.rowcount)
    con.close()
displayrecord("Institution","Faculty")

(104, 'Sudhir', 'Shivam', 'M', datetime.date(2020, 5, 22), Decimal('50000.00'))
(1002, 'Varuin', 'Adithya', 'M', datetime.date(2022, 7, 9), Decimal('30000.00'))
(1003, 'Surendra', 'shivan', 'F', datetime.date(2023, 10, 10), Decimal('400000.00'))
Total number of records fetched: 3

In [4]:
import pymysql
def updaterecord(db,tbl):
    con =pymysql.connect(host = 'localhost',user ="root",password ="root",database = db)
    cursor = con. cursor()
    F_ID = int(input("Enter the faculty id:"))
    Salary = float(input("Enter the Faculty Salary"))
    u = "UPDATE {} SET Salary = {} where F_Id ={} ".format(tbl,Salary,F_ID)
    cursor.execute(u)
    cursor.execute("SELECT * FROM {} ".format(tbl))
    data = cursor.fetchall()
    for row in data:
        print(row)
    print("Total number of records fetched:",cursor.rowcount)
    con.close()
updaterecord("Institution","Faculty")

Enter the faculty id:104
Enter the Faculty Salary60000
(104, 'Sudhir', 'Shivam', 'M', datetime.date(2020, 5, 22), Decimal('60000.00'))
(1002, 'Varuin', 'Adithya', 'M', datetime.date(2022, 7, 9), Decimal('30000.00'))
(1003, 'Surendra', 'shivan', 'F', datetime.date(2023, 10, 10), Decimal('400000.00'))
Total number of records fetched: 3

In [6]:
import pymysql
def deleterecord(db,tbl):
    con =pymysql.connect(host = 'localhost',user ="root",password ="root",database = db)
    cursor = con. cursor()
    F_ID = int(input("Enter the faculty id to be :"))
    u = "DELETE FROM {} where F_Id ={} ".format(tbl,F_ID)
    cursor.execute(u)
    cursor.execute("SELECT * FROM {} ".format(tbl))
    data = cursor.fetchall()
    for row in data:
        print(row)
    print("Total number of records fetched:",cursor.rowcount)
    con.close()
deleterecord("Institution","Faculty")

Enter the faculty id to be :104
(1002, 'Varuin', 'Adithya', 'M', datetime.date(2022, 7, 9), Decimal('30000.00'))
(1003, 'Surendra', 'shivan', 'F', datetime.date(2023, 10, 10), Decimal('400000.00'))
Total number of records fetched: 2

In [15]:
import pymysql
def deleterecord(db,tbl):
    con =pymysql.connect(host = 'localhost',user ="root",password ="root",database = db)
    cursor = con. cursor()
    #F_ID = int(input("Enter the faculty id to be :"))
    
    cursor.execute("SELECT * FROM {} ".format(tbl))
    data = cursor.fetchall()
    print(data,type(data))
    for row in data:
        print(row)
    print("Total number of records fetched:",cursor.rowcount)
    con.close()
deleterecord("Institution","Faculty")

In [17]:
import pymysql
con =pymysql.connect(host = 'localhost',user ="root",password ="root",database = db)
cursor = con. cursor()
cursor.execute("create table x('select * from faculty')")
cursor.execute("Delete from x")
cursor.execute("select* from x")
print(data,type(data))
con.commit()
con.close()