In [20]:
# Identifiers
ASTROSAT = 'SSM'
ASTROSAT2013isro = 'CPM'
ASTROSAT_isro  = 'LAXPC'
_isro = 'ASTROSAT','CHANDRAYAN1','CHANDRAYAN2'
#ASTROSAT 2013 = 'CZTI' #SyntaxError: invalid syntax(white space)
ASTROSAT@isro = 'SXT'   #SyntaxError:   special symbol
#2ASTROSAT = 'UVIT'     #SyntaxError: invalid decimal literal(first charcter digit)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (604115167.py, line 7)

In [21]:
#Literals
Filter_Type = 'Block' #Single line String Literal
print(Filter_Type)
Filter_Type = 'CaF2,\
Barium Fluoride,\
Sapphire' #Single line String Literal
print(Filter_Type)
Filter_Type = """ Grating -1
Silica
Grating-2
CaF2
"""
print(Filter_Type)
""" o/p
Block
CaF2,Barium Fluoride,Sapphire
 Grating -1
Silica
Grating-2
CaF2
"""

Block
CaF2,Barium Fluoride,Sapphire
 Grating -1
Silica
Grating-2
CaF2

' o/p\nBlock\nCaF2,Barium Fluoride,Sapphire\n Grating -1\nSilica\nGrating-2\nCaF2\n'

In [22]:
#Numeric Literal
Slot_No = 1 #  Decimal integer
print(type(Slot_No),Slot_No,"Memory_id",id(Slot_No))
Slot_No = 0o13 #Octal Integer
print(type(Slot_No),Slot_No,"Memory_id",id(Slot_No))
Slot_No = 0Xb2 #OHexa Decimal Integer
print(type(Slot_No),Slot_No,"Memory_id",id(Slot_No))
Filter_Thickness_mm = 2.50 #float
print(type(Filter_Thickness_mm),Filter_Thickness_mm)
Filter_Thickness_mm = .50 #float
print(type(Filter_Thickness_mm),Filter_Thickness_mm)
Filter_Thickness_mm = .0 #float
print(type(Filter_Thickness_mm),Filter_Thickness_mm)
Filter_Thickness_mm = 0. #float
print(type(Filter_Thickness_mm),Filter_Thickness_mm)
Dark_current = 9E-03 #float 9 mantissa ,-03 exponent
print(type(Dark_current),Dark_current)
Dark_current = 25.4e02 #float 9 mantissa ,-03 exponent
print(type(Dark_current),Dark_current)
current = 5 + 8j
print(type(current),current,current.real,current.imag,sep ='=>')
current = 8j
print(type(current),current,current.real,current.imag,sep ='=>')
current = 5 - 0j
print(type(current),current,current.real,current.imag,sep ='=>')

<class 'int'> 1 Memory_id 140726338753320
<class 'int'> 11 Memory_id 140726338753640
<class 'int'> 178 Memory_id 140726338758984
<class 'float'> 2.5
<class 'float'> 0.5
<class 'float'> 0.0
<class 'float'> 0.0
<class 'float'> 0.009
<class 'float'> 2540.0
<class 'complex'>=>(5+8j)=>5.0=>8.0
<class 'complex'>=>8j=>0.0=>8.0
<class 'complex'>=>(5+0j)=>5.0=>0.0

In [23]:
#Boolean
cosmos = True  
print(type(cosmos),cosmos)
cosmos  = False
print(type(cosmos),cosmos)

<class 'bool'> True
<class 'bool'> False

In [24]:
#None
x = None
print(type(x),x,id(x)) #absence of value
print(len(x))

<class 'NoneType'> None 140726337366768

TypeError: object of type 'NoneType' has no len()

In [25]:
#Literal Collections
data_Set = "CH1ORB-L-TMC-2-NPO-EDR-RAW-DATA-V1.1"
print(type(data_Set),data_Set,id(data_Set))

<class 'str'> CH1ORB-L-TMC-2-NPO-EDR-RAW-DATA-V1.1 2112816883888

In [10]:
for i in range(len(data_Set)):
    
    print("id:",id(data_Set[i]),"index:",data_Set[i],"Value:",data_Set[i])

id: 140726338797680 index: C Value: C
id: 140726338797960 index: H Value: H
id: 140726338796672 index: 1 Value: 1
id: 140726338798352 index: O Value: O
id: 140726338798520 index: R Value: R
id: 140726338797624 index: B Value: B
id: 140726338796448 index: - Value: -
id: 140726338798184 index: L Value: L
id: 140726338796448 index: - Value: -
id: 140726338798632 index: T Value: T
id: 140726338798240 index: M Value: M
id: 140726338797680 index: C Value: C
id: 140726338796448 index: - Value: -
id: 140726338796728 index: 2 Value: 2
id: 140726338796448 index: - Value: -
id: 140726338798296 index: N Value: N
id: 140726338798408 index: P Value: P
id: 140726338798352 index: O Value: O
id: 140726338796448 index: - Value: -
id: 140726338797792 index: E Value: E
id: 140726338797736 index: D Value: D
id: 140726338798520 index: R Value: R
id: 140726338796448 index: - Value: -
id: 140726338798520 index: R Value: R
id: 140726338797568 index: A Value: A
id: 140726338798800 index: W Value: W
id: 140726338796448 index: - Value: -
id: 140726338797736 index: D Value: D
id: 140726338797568 index: A Value: A
id: 140726338798632 index: T Value: T
id: 140726338797568 index: A Value: A
id: 140726338796448 index: - Value: -
id: 140726338798744 index: V Value: V
id: 140726338796672 index: 1 Value: 1
id: 140726338796504 index: . Value: .
id: 140726338796672 index: 1 Value: 1

In [11]:
z = complex(8,-3)
print(z)
print(z.real,z.imag)

(8-3j)
8.0 -3.0

In [12]:
z = complex(-3)
print(z)
print(z.real,z.imag)

(-3+0j)
-3.0 0.0

In [13]:
z = complex(8,)
print(z)
print(z.real,z.imag)

(8+0j)
8.0 0.0

In [14]:
chandrayan1 = "Terrain Mapping Camera"
print(len(chandrayan1))

22

In [15]:
print(chandrayan1[-9])

n

In [27]:
print(chandrayan1[7])

In [28]:
print(chandrayan1[8])

M

In [18]:
print(chandrayan1[39])

IndexError: string index out of range

In [29]:
print(chandrayan1[19])
chandrayan1[19]= 'E' #string is immutable datatype

e

TypeError: 'str' object does not support item assignment

In [30]:
#immutable
x = 100
print(len(x),x[2])#TypeError: object of type 'int' has no len()

TypeError: object of type 'int' has no len()

In [31]:
x = True
print(x,len(x),x[2])

TypeError: object of type 'bool' has no len()

In [32]:
x= 12.3
print(x,len(x),x[2])

TypeError: object of type 'float' has no len()

In [33]:
x= 12.3+5j
print(x,len(x),x[2])

TypeError: object of type 'complex' has no len()

In [34]:
print(chandrayan1[19])
chandrayan1[19]= 'E' #string is immutable datatype,sequence,can be iterated

e

TypeError: 'str' object does not support item assignment

# LIST

In [35]:
chandrayan1 = ['India', 'USA', 'UK', 'Germany', 'Sweden' , 'Bulgaria']
print(chandrayan1)

['India', 'USA', 'UK', 'Germany', 'Sweden', 'Bulgaria']

In [36]:
#len(<list>)
print(len(chandrayan1))

6

In [37]:
#list([<sequence>])
l1 = list("emoji")
l2 = list((1,2,3,4,))
l3=list({1,3,5,2})
l4 = list ({'a':1,'b':2,'c':3})
print(l1,type(l1))
print(l2,type(l2))
print(l3,type(l3))
print(l4,type(l4))

['e', 'm', 'o', 'j', 'i'] <class 'list'>
[1, 2, 3, 4] <class 'list'>
[1, 2, 3, 5] <class 'list'>
['a', 'b', 'c'] <class 'list'>

In [38]:
#index- list.index()
chandrayan1 = ['India', 'USA', 'UK', 'Germany', 'Sweden' , 'Bulgaria']
print(chandrayan1.index('Sweden'))

4

In [1]:
#index- list.index()
chandrayan1 = ['India', 'USA', 'UK', 'Germany', 'Sweden' , 'Bulgaria']
print(chandrayan1.index('NORWAY'))

ValueError: 'NORWAY' is not in list

In [40]:
#index- list.index()
chandrayan1 = ['India', 'USA', 'UK', 'Germany', 'Sweden' , 'Bulgaria']
print(chandrayan1.index('Bulgaria'))

5

In [41]:
print(chandrayan1)

['India', 'USA', 'UK', 'Germany', 'Sweden', 'Bulgaria']

In [42]:
#list.append(<item>)
chandrayan1.append('Algeria')
print(chandrayan1)
chandrayan1.append(['norway','mongolia'])
print(chandrayan1)

['India', 'USA', 'UK', 'Germany', 'Sweden', 'Bulgaria', 'Algeria']
['India', 'USA', 'UK', 'Germany', 'Sweden', 'Bulgaria', 'Algeria', ['norway', 'mongolia']]

In [43]:
chandrayan1.append('south Africa','Netherland')
print(chandrayan1)

TypeError: list.append() takes exactly one argument (2 given)

In [44]:
#list.extend(<list>)
print(chandrayan1)
chandrayan1.extend(('south Africa','Netherland'))
print(chandrayan1)

['India', 'USA', 'UK', 'Germany', 'Sweden', 'Bulgaria', 'Algeria', ['norway', 'mongolia']]
['India', 'USA', 'UK', 'Germany', 'Sweden', 'Bulgaria', 'Algeria', ['norway', 'mongolia'], 'south Africa', 'Netherland']

In [45]:
#list.insert(<index>,<item>)
L = [1,2,3]
L.insert(1,100)
print(L)

[1, 100, 2, 3]

In [8]:
L = [1,2,3]
L.insert(-1,300)
print(L)

[1, 2, 300, 3]

In [47]:
L =[1, 2, 300, 3]
L.insert(5,700)
print(L)

[1, 2, 300, 3, 700]

In [48]:
L =[1, 2, 300, 3]
L.insert(-15,600)
print(L)

[600, 1, 2, 300, 3]

In [49]:
L =[1, 2, 300, 3]
L.insert(15,1600)
print(L)

[1, 2, 300, 3, 1600]

In [50]:
#list.pop(<index>)
print(L)
x = L.pop()
print(x)
print(L)
y = L.pop(2)
print(y)
print(L)

[1, 2, 300, 3, 1600]
1600
[1, 2, 300, 3]
300
[1, 2, 3]

In [51]:
 
print(L)
for i in L:
    print(L.pop())
    print(L)

[1, 2, 3]
3
[1, 2]
2
[1]

In [11]:
for i in range(200,100,-15):
    print(i,end =',')

200,185,170,155,140,125,110,

In [53]:
l =[100,130,115,145,190,175,160,115]
print("Before REVERSE",l)
l.reverse()
print("After built-in reverse function",l)

Before REVERSE [100, 130, 115, 145, 190, 175, 160, 115]
After built-in reverse function [115, 160, 175, 190, 145, 115, 130, 100]

In [2]:
l =[100,130,115,145,190,175,160,115]
print("Before sort",l)
l.sort()
print("After built-in sort function",l)
print(l)

Before sort [100, 130, 115, 145, 190, 175, 160, 115]
After built-in sort function [100, 115, 115, 130, 145, 160, 175, 190]
[100, 115, 115, 130, 145, 160, 175, 190]

In [56]:
l =[100,115,130,145,160,175,190,115]
print(l,"Before removing")
l.remove(115)
print(l,"After remove function")

[100, 115, 130, 145, 160, 175, 190, 115] Before removing
[100, 130, 145, 160, 175, 190, 115] After remove function

In [57]:

9. R
10. Ruby
11. C and C++
12. Matlab
13. TypeScript
14. Scala
15. SQL
16. HTML
17. CSS
18. NoSQL
19. Rust
20. Perl

SyntaxError: invalid syntax (2324547003.py, line 1)

In [58]:
language = ['Javascript','Python','Go','Java','Kotlin','PHP','C#','Swift']
print(min(language))

C#

In [59]:
language = ['Javascript','Python','Go','Java','Kotlin','PHP','C#','Swift']
print(max(language))

Swift

In [60]:
language = ['Javascript','Python','Go','Java','Kotlin','PHP','C#','Swift']
print(sum(language))

TypeError: unsupported operand type(s) for +: 'int' and 'str'

# String

In [61]:
#String
motor = 'Tech Mahindra opened with a price of ₹1244.65'
print(motor, len(motor))

Tech Mahindra opened with a price of ₹1244.65 45

Tech Mahindra opened with a price of ₹1244.65 45

In [63]:
motor ="""Tech Mahindra \
opened with a price of \
₹1244.65"""
print(motor, len(motor))

Tech Mahindra opened with a price of ₹1244.65 45

In [64]:
motor ="""Tech Mahindra 
opened with a price \r of 
₹1244.65 """
print(motor, len(motor))

Tech Mahindra
 of
₹1244.65  50

In [65]:
#capitalize()
motor = ' tech Mahindra opened with a price of ₹1244.65'
print(motor.capitalize())

 tech mahindra opened with a price of ₹1244.65

In [66]:
#title()
motor = ' tech Mahindra opened with a price of ₹1244.65'
print(motor.title())

 Tech Mahindra Opened With A Price Of ₹1244.65

In [67]:
motor_title ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor_title.istitle())

True

In [68]:
motor_title ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor_title.istitle())

True

In [69]:
motor_title ="Tech Mahindra opened With A Price Of ₹1244.65"
print(motor_title.istitle())

False

In [71]:
motor_title ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor_title.istitle())

True

In [72]:
motor_title ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor_title.title())

Tech Mahindra Opened With A Price Of ₹1244.65

In [73]:
motor_title ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(not motor_title.istitle())

False

In [74]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.find('With'))

21

In [75]:
print(motor[21])

W

In [76]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.find('with'))

-1

In [77]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.find('for'))

-1

In [78]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.find('₹1244.65',44))

-1

In [79]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.find('With',21,25))

21

In [80]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.find('With',-1,-len(motor)))

-1

In [81]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.find('a'))

6

In [83]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.find('With',21,25,2))

TypeError: find() takes at most 3 arguments (4 given)

In [84]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('With'))

1

In [85]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('a'))

2

In [86]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('F'))

0

In [87]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('i',7))

3

In [88]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('i',7,8))

0

In [89]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('i',8))

3

In [90]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('i',9))

2

In [91]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('i',8,21))

1

In [92]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('i',8,21,2))

TypeError: count() takes at most 3 arguments (4 given)

In [93]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('i',-1,-22))

0

In [94]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.count('i',-22,-1))

1

In [95]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.index('i'))

8

In [96]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.rfind('i',60))

-1

In [97]:
motor ="Tech Mahindra Opened With A Price Of ₹1244.65"
print(motor.index('i',1,7))

ValueError: substring not found

In [98]:
india = "With India all set for the G20 Summit"
print(india.find('all'))
print(india.find('all',12,89))
print(india.find('all',23))
print(india.find('all',8, 24))

11
-1
-1
11

In [99]:
india = "With India all set for the G20 Summit"
print(india.count('all'))
print(india.count('all',12,89))
print(india.count('all',23))
print(india.count('all',8, 24))

1
0
0
1

In [100]:
india = "With India all set for the G20 Summit"
print(india.index('all'))
print(india.index('all',12,89))
print(india.index('all',23))
print(india.index('all',8, 24))

11

ValueError: substring not found

In [101]:
india = "With India all set for the G20 Summit"
print(india.isalnum())

False

In [102]:
india = "WithIndiaallsetfortheG20Summit"
print(india.isalnum())

True

In [103]:
india = "WithIndiaallsetfortheGSummit "
print(not india.isalnum())

True

In [104]:
india = '202023'
print(india.isalpha())

False

In [105]:
india = '202023'
print(india.isdigit())

True

In [106]:
india = "with india all set for the 20g summit"
print(india.islower())

True

In [107]:
india = "with india all set for the 20g summit"
print(india.islower())

True

In [108]:
india = "With India all set for the G20 Summit"
print(india.lower())

with india all set for the g20 summit

In [109]:
india = "With India all set for the G20 Summit"
print(india.isspace())

False

In [110]:
india = "             "
print(india.isspace())

True

In [111]:
india = "    . "
print(india.isspace())

False

In [112]:
india =""
print(india.isspace())

False

In [113]:
Apple ="Spyware infection, researchers say"
print(Apple.swapcase())

sPYWARE INFECTION, RESEARCHERS SAY

In [114]:
Apple ="Spyware infection, researchers say"
print(Apple.swapcase().swapcase())

Spyware infection, researchers say

In [115]:
Apple ="spyware infection, researchers say"
print(Apple.endswith('say',-2))

False

In [116]:
Apple ="spyware infection, researchers say"
print(Apple.startswith('spy'))

True

In [117]:
Apple ="syypyware infection, researchers say"
print(Apple.lstrip('say'))

pyware infection, researchers say

In [118]:
Apple ="syypyware infection, researchers say"
print(Apple.rstrip('say'))

syypyware infection, researchers

In [119]:
Apple ="syypyware infection, researcherssay"
print(Apple.strip('say'))

pyware infection, researcher

In [120]:
x ="there"
print(x.strip('the'))

r

In [121]:
x ="there"
print(x.lstrip('the'))

re

In [122]:
x ="there"
print(x.rstrip('the'))

ther

In [123]:
Apple ="syypyware infection, researcherssay"
print(Apple.strip())

syypyware infection, researcherssay

In [124]:
apple ="       there"
print(apple.lstrip())

there

In [125]:
Apple ="         syypyware infection, researcherssay          "
print(Apple.strip())

syypyware infection, researcherssay

In [126]:
Apple ="spyware iphone infection, researchers say"
print(Apple.partition('infection'))

('spyware iphone ', 'infection', ', researchers say')

In [127]:
Apple ="spyware iphone infection, researchers say"
print(Apple.partition(' '))

('spyware', ' ', 'iphone infection, researchers say')

In [128]:
Apple ="spyware iphone infection, researchers say"
print(Apple.partition('say'))

('spyware iphone infection, researchers ', 'say', '')

In [129]:
Apple ="spyware iphone infection, researchers say"
print(Apple.partition('1'))

('spyware iphone infection, researchers say', '', '')

In [130]:
Apple ="spyware iphone infection, researchers say"
print(Apple.split())

['spyware', 'iphone', 'infection,', 'researchers', 'say']

In [131]:
Apple ="spyware iphone infection, researchers say"
print(Apple.split('y'))

['sp', 'ware iphone infection, researchers sa', '']

In [3]:
Apple ="spyware iphone infection, researchersssay"
print(Apple.split(' '))

['spyware', 'iphone', 'infection,', 'researchersssay']

In [4]:
Apple ="spyware iphone infection, researchers say"
print(Apple.split('in'))

['spyware iphone ', 'fection, researchers say']

In [5]:
Apple ="spyware iphone infection, researchers say"
print(Apple.split('z'))

['spyware iphone infection, researchers say']

In [6]:
print(Apple)
print(Apple.join('***'))

spyware iphone infection, researchers say
*spyware iphone infection, researchers say*spyware iphone infection, researchers say*

In [7]:
print('*'.join("hello hi"))

h*e*l*l*o* *h*i

In [137]:
print('\r\n'.join("hnllo hi"))

h
n
l
l
o

h
i

In [138]:
print(Apple)
print(Apple.replace('s','z'))

spyware iphone infection, researchers say
zpyware iphone infection, rezearcherz zay

In [139]:
s = str()
print(s,type(s))
t = tuple()
print(t,type(t))
l =list()
print(l,type(l))
d = dict()
print(d,type(d))
se = set()
print(se,type(se))

 <class 'str'>
() <class 'tuple'>
[] <class 'list'>
{} <class 'dict'>
set() <class 'set'>

In [140]:
print(Apple)

spyware iphone infection, researchers say


# Tuple

In [142]:
country = 'France','uk','spain','usa'
print(country,type(country))

('France', 'uk', 'spain', 'usa') <class 'tuple'>

In [143]:
country = ('France','uk','spain','usa')
print(country,type(country))

('France', 'uk', 'spain', 'usa') <class 'tuple'>

In [144]:
country = 'France','uk','spain','usa'
print(country,type(country))

('France', 'uk', 'spain', 'usa') <class 'tuple'>

In [145]:
country = ('France','uk','spain','usa','uk','uk')
print(country,type(country))
print(country.count('Netherland'))

('France', 'uk', 'spain', 'usa', 'uk', 'uk') <class 'tuple'>
0

In [146]:
country = ('France','uk','spain','usa','uk','uk')
print(country,type(country))
print(country.count('uk'))

('France', 'uk', 'spain', 'usa', 'uk', 'uk') <class 'tuple'>
3

In [147]:
country = ('France','uk','spain','usa','uk','uk')
print(country,type(country))
print(country.count('uk',2))

('France', 'uk', 'spain', 'usa', 'uk', 'uk') <class 'tuple'>

TypeError: tuple.count() takes exactly one argument (2 given)

In [148]:
country = ('France','uk','spain','usa','uk','uk')
print(country,type(country))
print(country.index('Netherland'))

('France', 'uk', 'spain', 'usa', 'uk', 'uk') <class 'tuple'>

ValueError: tuple.index(x): x not in tuple

In [149]:
country = ('France','uk','spain','usa','uk','uk')
print(country,type(country))
print(country.index('uk'))

('France', 'uk', 'spain', 'usa', 'uk', 'uk') <class 'tuple'>
1

# set

In [150]:
se = {1,2,3}
print(se,type(se))

{1, 2, 3} <class 'set'>

In [151]:
se = {1,2,1,3,3}
print(se,type(se))

{1, 2, 3} <class 'set'>

In [152]:
se = {1,2,3,[5,6]}
print(se,type(se))

TypeError: unhashable type: 'list'

In [153]:
se = {1,2,3}
print(se,type(se))
print(se[1])

{1, 2, 3} <class 'set'>

TypeError: 'set' object is not subscriptable

In [154]:
setcheck= {1,4.4,'mouse',(1,2)}
print(setcheck)

{1, (1, 2), 4.4, 'mouse'}

In [155]:
setcheck= {1,4.4,'mouse',(1,2),{2,3}}
print(setcheck)

TypeError: unhashable type: 'set'

In [157]:
x = '123Th'
print(x.istitle())

True

In [ ]:
#DICT

In [159]:
d = dict()
print(d)

{}

In [158]:
dict1={'1':'Rolls royce','2':'Tesla','3':'Lambhorghini','4':'BMW','5':'Mahendra'}
print(dict1)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}

In [160]:
print(len(dict1))

5

In [161]:
print(dict1)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}

In [163]:
print(dict1['2'])

Tesla

In [164]:
print(dict1['6'])

KeyError: '6'

In [166]:
print(dict1)
print(dict1.keys())

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}
dict_keys(['1', '2', '3', '4', '5'])

In [167]:
print(dict1)
print(dict1.values())

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}
dict_values(['Rolls royce', 'Tesla', 'Lambhorghini', 'BMW', 'Mahendra'])

In [168]:
print(dict1.items())

dict_items([('1', 'Rolls royce'), ('2', 'Tesla'), ('3', 'Lambhorghini'), ('4', 'BMW'), ('5', 'Mahendra')])

In [169]:
dict2={'1':'Rolls royce','2':'Tesla','3':'Lambhorghini','4':'BMW','5':'Mahendra'}
print(dict2)
print(dict2.pop('4')) #<dict>.pop(<key>,<to display>)
print(dict2)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}
BMW
{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '5': 'Mahendra'}

In [171]:
dict2={'1':'Rolls royce','2':'Tesla','3':'Lambhorghini','4':'BMW','5':'Mahendra'}
print(dict2)
print(dict2.popitem())
print(dict2)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}
('5', 'Mahendra')
{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW'}

In [172]:
dict2={'1':'Rolls royce','2':'Tesla','3':'Lambhorghini','4':'BMW','5':'Mahendra'}
print(dict2)
print(dict2.pop('4')) #<dict>.pop(<key>,<to display>)
print(dict2)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}

KeyError: '10'

In [174]:
dict2={'1':'Rolls royce','2':'Tesla','3':'Lambhorghini','4':'BMW','5':'Mahendra'}
print(dict2)
print(dict2.pop('2',"key not found")) #<dict>.pop(<key>,<to display>)
print(dict2)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}
Tesla
{'1': 'Rolls royce', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}

In [176]:
dict2={'1':'Rolls royce','2':'Tesla','3':'Lambhorghini','4':'BMW','5':'Mahendra'}
print(dict2)
print(dict2.setdefault('6','Audi'))
print(dict2)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}
Audi
{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra', '6': 'Audi'}

In [177]:
dict2={'1':'Rolls royce','2':'Tesla','3':'Lambhorghini','4':'BMW','5':'Mahendra'}
print(dict2)
print(dict2.setdefault('6','Audiiiii'))
print(dict2)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}
Audiiiii
{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra', '6': 'Audiiiii'}

In [178]:
    print(dict2)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra', '6': 'Audiiiii'}

In [208]:
dict3 = {}
dict4 =dict3.fromkeys('123',7)
print(dict3)
print(dict4)

{}
{'1': 7, '2': 7, '3': 7}

In [210]:
print("dict2",dict2)
print("dict4",dict4)

dict2 {'1': 7, '2': 7, '3': 7, '4': 'BMW', '5': 'Mahendra', '6': 'Audiiiii', ',': 7}
dict4 {'1': 7, '2': 7, '3': 7}

In [211]:
dict2={'1':'Rolls royce','2':'Tesla','3':'Lambhorghini','4':'BMW','5':'Mahendra'}
dict4.update(dict2)

In [212]:
print(dict4)

{'1': 'Rolls royce', '2': 'Tesla', '3': 'Lambhorghini', '4': 'BMW', '5': 'Mahendra'}

In [207]:
print(dict4.get('15',"default key"))
print(dict4)

default key
{'1': 7, '2': 7, '3': 7}

In [214]:
dict_2={1:'python',2:'java',3:'kali linux'}
print(dict_2)

{1: 'python', 2: 'java', 3: 'kali linux'}

In [215]:
dict_3=dict_2
print(dict_2,dict_3)

{1: 'python', 2: 'java', 3: 'kali linux'} {1: 'python', 2: 'java', 3: 'kali linux'}

In [3]:
print(dict_3.update(dict_2))

NameError: name 'dict_3' is not defined

In [1]:
dict2 = dict.fromkeys([1,2,3])
print(dict2)

{1: None, 2: None, 3: None}

In [2]:
dict3 = dict.fromkeys([1,2,3],5000)
print(dict3)

{1: 5000, 2: 5000, 3: 5000}

# user defined function

In [12]:
def student():
    print("Hello")
print(student())

Hello
None

In [13]:
def student():
    return "Hello"
print(student())

Hello

In [14]:
def total(a,b):
    c = a + b
    return c

In [16]:
x = total(10,20)

In [17]:
print(x)

30

In [18]:
print(total(30,50))

80

In [ ]:
def total(a,b):
    c = a + b
    return c
a = 5
b= 8
print(total(a,b))

In [4]:
i = 5 * 5
print(i)
j = '5' * 5
print(j)
k = [1]*5
print(k)
t = (1,)* 5
print(t)

25
55555
[1, 1, 1, 1, 1]
(1, 1, 1, 1, 1)

In [5]:
i = 5 + 5
print(i)
j = '5' + '5'
print(j)
k = [1]+[5]
print(k)
t = (1,)+ (5,)
print(t)

10
55
[1, 5]
(1, 5)