In [1]:
#creating tuple
x = ()
print(x, type(x),len(x))

() <class 'tuple'> 0

In [2]:
y  = tuple()
print(y, type(y),len(y))

() <class 'tuple'> 0

In [3]:
ele = (1)
print(ele, type(ele),len(ele))

TypeError: object of type 'int' has no len()

In [4]:
ele = (1,)
print(ele, type(ele))

(1,) <class 'tuple'>

In [4]:
ele2 = 1,
print(ele2, type(ele2),len(ele2))

(1,) <class 'tuple'> 1

In [6]:
print(1,2,3,+5)

1 2 3 5

In [7]:
print(1,2,3+5)

1 2 8

In [8]:
print((1,2,3)+5)

TypeError: can only concatenate tuple (not "int") to tuple

In [9]:
print((1,2,3)+(5))

TypeError: can only concatenate tuple (not "int") to tuple

In [10]:
print((1,2,3)+(5,))

(1, 2, 3, 5)

In [14]:
rollno = (1,2,3,4)
name = ("shami","virat","Dhoni")
mark = (85.,99.0,100)
grade = ("o","a","b")
remark = (5,"Gill",88.8)
print(rollno, name, mark,grade,remark)

(1, 2, 3, 4) ('shami', 'virat', 'Dhoni') (85.0, 99.0, 100) ('o', 'a', 'b') (5, 'Gill', 88.8)

In [12]:
for i in remark:
    print(i)

5
Gill
88.8

In [13]:
for i in range(len(remark)):
    print(remark[i])

5
Gill
88.8

In [14]:
x = "Elon Musk"
t = tuple(x)
print(x)
print(t)

Elon Musk
('E', 'l', 'o', 'n', ' ', 'M', 'u', 's', 'k')

In [15]:
l = [1,2,3]
print(l, tuple(l))

[1, 2, 3] (1, 2, 3)

In [17]:
d = {'a':7,"e": 10,"i": 12}
print(d, tuple(d))

{'a': 7, 'e': 10, 'i': 12} ('a', 'e', 'i')

In [18]:
s = {'abc','xyz'}
print(s, tuple(s))

{'abc', 'xyz'} ('abc', 'xyz')

In [19]:
s = {'abc','xyz','abc'}
print(s, tuple(s))

{'abc', 'xyz'} ('abc', 'xyz')

#eval() function
help(eval)
Help on built-in function eval in module builtins:

eval(source, globals=None, locals=None, /)
    Evaluate the given source in the context of globals and locals.
    
    The source may be a string representing a Python expression
    or a code object as returned by compile().
    The globals must be a dictionary and locals can be any mapping,
    defaulting to the current globals and locals.
    If only globals is given, locals defaults to

In [20]:
x = eval(5+6)
print(x)

TypeError: eval() arg 1 must be a string, bytes or code object

In [10]:
x = eval('[5+6.0,]')
print(x,type(x))

[11.0] <class 'list'>

In [22]:
x = eval(input("Enter the expression to be evaluate:"))
print(x)

Enter the expression to be evaluate:4*7
28

In [23]:
x = eval(input("Enter the expression to be evaluate:"))
print(x)

Enter the expression to be evaluate:573888888888888888888/ 36444444
15746951411548.188

In [25]:
x = eval(input("Enter the sequence:"))
print(x,type(x))

Enter the sequence:12345
12345 <class 'int'>

In [27]:
x = eval(input("Enter the sequence:"))
print(x,type(x))

Enter the sequence:(1,2,3,)
(1, 2, 3) <class 'tuple'>

In [28]:
x = eval(input("Enter the sequence:"))
print(x,type(x))

Enter the sequence:[1,2,3]
[1, 2, 3] <class 'list'>

In [30]:
x = eval(input("Enter the sequence:"))
print(x,type(x))

Enter the sequence:{1:2,2:4}
{1: 2, 2: 4} <class 'dict'>

In [11]:
x = eval(input("Enter the sequence:"))
print(x,type(x))

Enter the sequence:'abc'
abc <class 'str'>

In [12]:
x = eval(input("Enter the sequence:"))
print(x,type(x))

Enter the sequence:'6+7'
6+7 <class 'str'>

In [36]:
def outer(list1):
    def ref(list1):
        x = []
        if list1:
            l = [23,87]
            for i in l:
                x .append(i+2)
                list1.extend([x])
    
        print ("list inside the function: ",list1 )
    ref(list1)
list1 = [12,67,90]
print("list before pass", list1)
outer(list1)
print ("list outside the function", list1)

list before pass [12, 67, 90]
list inside the function:  [12, 67, 90, [25, 89], [25, 89]]
list outside the function [12, 67, 90, [25, 89], [25, 89]]

In [37]:
def dictlist():
    global d
    x = "Pre-Board 2023"
    for i in x:
        d[i] = x.count(i)
    return d
d = {}
print(dictlist())
print(d)

{'P': 1, 'r': 2, 'e': 1, '-': 1, 'B': 1, 'o': 1, 'a': 1, 'd': 1, ' ': 1, '2': 2, '0': 1, '3': 1}
{'P': 1, 'r': 2, 'e': 1, '-': 1, 'B': 1, 'o': 1, 'a': 1, 'd': 1, ' ': 1, '2': 2, '0': 1, '3': 1}

In [15]:
print(remark)

(5, 'Gill', 88.8)

In [16]:
print(remark[0])

5

In [17]:
print(remark[-1])

88.8

In [41]:
print(remark[0:])

(5, 'Gill', 88.8)

In [42]:
print(remark[0::2])

(5, 88.8)

In [18]:
y = ("Nyra","emily")+("Rita","riya")
print(y, len(y))

('Nyra', 'emily', 'Rita', 'riya') 4

In [19]:
y = ("hungam", )* 10
print(y, len(y))

('hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam') 10

In [20]:
t = (28,21,15,14,28)
t[0] = 5
print(t)

TypeError: 'tuple' object does not support item assignment

In [21]:
t = ([28,21],[15,14],28)
t[0] = 5
print(t)

TypeError: 'tuple' object does not support item assignment

In [22]:
t = ([28,21],[15,14],28)
t[0][0] = 5
print(t)

([5, 21], [15, 14], 28)

In [23]:
# tuple comparision
print(rollno)

(1, 2, 3, 4)

In [24]:
print(rollno ==(1,2,3,4))

True

In [25]:
print((1,2)>(-1,))

True

In [26]:
print((11,2)<(1,))

False

In [27]:
print(('A','B')!= ('a','b'))

True

In [55]:
print(('A','B','C')> ('a','b'))

False

In [56]:
print(('A','B','C')< ('a','b'))

True

In [57]:
rollno = [10,12,12,13,10]
print(del t[0])

SyntaxError: invalid syntax (908238785.py, line 2)

In [28]:
t = [10,12,12,13,10]
del t[0]
print(t)

[12, 12, 13, 10]

In [62]:
t = (10,12,12,13,10)
del t[0]
print(t)

TypeError: 'tuple' object doesn't support item deletion

In [30]:
t = (10,12,12,13,10)
del t
print(t)

NameError: name 't' is not defined

In [31]:
print('rita' in y)

False

In [32]:
print(y)

('hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam')

In [65]:
print(y)

('hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam', 'hungam')

In [33]:
print('virat')

virat

In [34]:
t = (2,3,4,5,6,7,2,3,4,2)
print(t.count(2))

3

In [35]:
print(t.count(2,0))

TypeError: tuple.count() takes exactly one argument (2 given)

In [36]:
print(t.index(2))

0

In [37]:
print(t.index(2,1))

6

In [38]:
print(t.index(2,7))

9

In [6]:
print(t.index(2,1,7))

6

In [7]:
print(t)

(2, 3, 4, 5, 6, 7, 2, 3, 4, 2)

In [39]:
print(t.index(20,1))

ValueError: tuple.index(x): x not in tuple

In [40]:
print(sum(t))

38

In [42]:
print(sum(('a','b','c'))

SyntaxError: incomplete input (477960344.py, line 1)

In [43]:
print(min(t))

2

In [47]:
print(min('sunmathi','udhya','neenu','1'),ord('1'))

1

In [44]:
print(max(t))

7

In [12]:
print(t)

(2, 3, 4, 5, 6, 7, 2, 3, 4, 2)

In [13]:
print((1,2,34)+(1,2))

(1, 2, 34, 1, 2)

In [14]:
print((3,4)*10)

(3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4, 3, 4)