In [2]:
l = []
for i in range(1,11):
    l.append(i*13)
print(l)

[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]

In [20]:
L =[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]
L[2:4] = 59
print(L)

TypeError: can only assign an iterable

In [1]:
L =[13, 26, 39, 52, 65, 78, 91, 104, 117, 130]
L[2:4] = [59]
print(L)

[13, 26, 59, 65, 78, 91, 104, 117, 130]

In [4]:
employee = {'name' : "Naveen",'Dept': "neuroscience",'month_credit':[10,8,9,10]}
dept = employee.copy()
dept['name']= 'Sudeep'
dept['month_credit'].append(10)
print(employee)

{'name': 'Naveen', 'Dept': 'neuroscience', 'month_credit': [10, 8, 9, 10, 10]}

In [7]:
line = "live on time, emit no evil"
print(line.strip('vile'))

 on time, emit no

In [19]:
import random
tickets_list = []
winners =()
for i in range(3):
    tickets_list.append(random.randrange(40, 50))
print(tickets_list)
for j in tickets_list:
    winners += (random.randint(j,55),)
print(winners)

[45, 46, 49]
(55, 49, 54)

In [22]:
IAS_OFFICERS = ("Shri Jatindra Nath Swain","Shri Shiv Das Meena","Shri Hans Raj Verma")
TN = sorted(IAS_OFFICERS)
print(TN)

['Shri Hans Raj Verma', 'Shri Jatindra Nath Swain', 'Shri Shiv Das Meena']

In [30]:
import math
print(math.pow(5,2),end = '#')
print(pow(25,2))

25.0#625

In [1]:
print(2**3 + (5+6) ** (1+1))

129

In [4]:
x=20
def output (num):
    global x
    x=28
    if num % 5==0:
        x=x+num
    else:
        x=x-num
    print(x, end="#")
output (18)
print(x)

10#10

In [5]:
IAS_OFFICERS = ("Shri JatindraNathSwain","Shri Shiv Das Meena","Shri Hans Raj Verma")
TN = sorted(IAS_OFFICERS)
print(TN)

['Shri Hans Raj Verma', 'Shri JatindraNathSwain', 'Shri Shiv Das Meena']

In [14]:
import pymysql
db=pymysql.connect(user="root",passwd="root",host="localhost") 
my_cursor=db.cursor()
#my_cursor.execute("create database db")
my_cursor.execute("use db")
#query="CREATE TABLE tb(cl1 INT(10),cl2 VARCHAR(255), cl3 INT(10))"
#my_cursor.execute(query) 
my_cursor.execute("INSERT INTO tb(cl1,cl2,cl3) VALUES(1,'a',6)")
my_cursor.execute("INSERT INTO tb(cl1,cl2,cl3) VALUES(1,'a',6)")
db.commit()
print(my_cursor.rowcount)

1

In [16]:
import pickle
data = ["apple", "banana", "cherry"]
with open("fruits.p", "wb") as f:
    pickle.dump(data, f)
with open("fruits.p", "rb") as f:
    loaded_data = pickle.load(f)
print(loaded_data)

['apple', 'banana', 'cherry']

In [19]:
for i in reversed(list("WONDER WORLD\nHEllo\nHonesty")):
    print(i.rstrip(),end='')

ytsenoHollEHDLROWREDNOW