In [5]:
import pymysql
con =pymysql.connect(host = 'localhost',user ="root",password ="root",database = "institution")
cursor = con. cursor()
#cursor.execute("create table faculty as ('select * from faculty')")
cursor.execute("Delete from faculty")
cursor.execute("select* from faculty")

data = cursor.fetchall()
print(data,type(data))
con.commit()
con.close()

() <class 'tuple'>